Workflows N8N/RONILSON GERAR QRCODE.json
{
  "name": "RONILSON GERAR QRCODE",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexaflow.uazapi.com/instance/init",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "adminToken",
              "value": "z6hUzjbsDoZKwYzUr3l8rRbDavfG6tgr55ifG4IdIl82w2cSfY"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "adminToken",
              "value": "z6hUzjbsDoZKwYzUr3l8rRbDavfG6tgr55ifG4IdIl82w2cSfY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance_name\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        2928
      ],
      "id": "96848c24-2335-43ce-a150-b377765b0a50",
      "name": "HTTP CREATE INSTANCE1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexaflow.uazapi.com/instance/connect",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -192,
        2928
      ],
      "id": "78d667b5-8a6e-4121-8efc-72d9235b2e8a",
      "name": "HTTP GENERATE QR1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.instance.status }}",
                    "rightValue": "connected",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "347da817-8ae9-4bbb-8327-5e65807a8f76"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d34e1bd5-37de-4c18-b8bf-b4098f1d5453",
                    "leftValue": "={{ $json.instance.status }}",
                    "rightValue": "connected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        368,
        2768
      ],
      "id": "5862a80c-6336-4934-8cd8-8a6b7f95a7f4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        2464
      ],
      "id": "07617ae7-1811-42d1-8824-b6bd772bdcae",
      "name": "Wait1",
      "webhookId": "adefe0cf-2463-4258-b38b-9081c2657645"
    },
    {
      "parameters": {
        "url": "https://nexaflow.uazapi.com/instance/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        2928
      ],
      "id": "ba01f8b8-e075-4060-aa81-314fa0adb467",
      "name": "HTTP GET STATUS2"
    },
    {
      "parameters": {
        "url": "https://nexaflow.uazapi.com/instance/status",
        "sendQuery": false,
        "queryParameters": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        2928
      ],
      "id": "a9033012-0a79-4028-b51a-b1eb078708d8",
      "name": "HTTP GET STATUS3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "=\n{\n  \"success\": true,\n  \"status\": \"{{ $item(\"0\").$node[\"Edit Fields1\"].json[\"status\"] }}\",\n  \"token\": \"{{ $item(\"0\").$node[\"Edit Fields1\"].json[\"token\"] }}\",\n  \"instance_name\": \"{{ $item(\"0\").$node[\"Edit Fields1\"].json[\"instance_name\"] }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        2928
      ],
      "id": "038fcd00-83d7-4ee0-ac98-941f00039a18",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b745e3b-d16e-4f93-bf96-af4c7b874f72",
              "name": "status",
              "value": "={{ $json.instance.status }}",
              "type": "string"
            },
            {
              "id": "c10d98cb-89b3-4f6e-af6a-dd43d957f7a0",
              "name": "token",
              "value": "={{ $item(\"0\").$node[\"Edit Fields3\"].json[\"token\"] }}",
              "type": "string"
            },
            {
              "id": "0d93f27d-b958-4ebd-aa2d-92a48c537166",
              "name": "instance_name",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance_name\"] }}",
              "type": "string"
            },
            {
              "id": "2fcb8472-ecbf-41dc-a234-adcf88045f60",
              "name": "user_id",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"user_id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        2928
      ],
      "id": "7a72e40a-eaa4-4980-801e-6e48ef524f08",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"qrcode\": \"{{ $item(\"0\").$node[\"HTTP GENERATE QR1\"].json[\"instance\"][\"qrcode\"] }}\",\n  \"token\": \"{{ $item(\"0\").$node[\"HTTP GENERATE QR1\"].json[\"instance\"][\"token\"] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        2928
      ],
      "id": "19de3849-0568-4354-9d1c-ab0a6595f343",
      "name": "Respond to Webhook CONNECT1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa/createnexus",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1088,
        2928
      ],
      "id": "61a4003e-1379-42ad-81b9-6b4b0da606e8",
      "name": "Webhook",
      "webhookId": "722cd849-b0e5-4f14-9a42-afc95a8df49c"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kmkcrqlozwmzsgfdgath.supabase.co/rest/v1/whatsapp_instances",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtta2NycWxvendtenNnZmRnYXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjkwNzQ0OCwiZXhwIjoyMDcyNDgzNDQ4fQ.oo2nabZxXzBuu9xOp5F9GIbDRJ1vwiS0EzkXUKXQfrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtta2NycWxvendtenNnZmRnYXRoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjkwNzQ0OCwiZXhwIjoyMDcyNDgzNDQ4fQ.oo2nabZxXzBuu9xOp5F9GIbDRJ1vwiS0EzkXUKXQfrk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"user_id\": $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"user_id\"], \"instance_name\": $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance_name\"], \"uazapi_token\": $item(\"0\").$node[\"Switch1\"].json[\"instance\"][\"token\"], \"status\": \"conectado\" }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        2928
      ],
      "id": "547c5b51-ee2d-49c3-8b76-afaa4a5ee9d1",
      "name": "Update a row",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61b95582-718d-43f9-b4ba-dc38ae82288c",
              "name": "token",
              "value": "={{ $item(\"0\").$node[\"HTTP CREATE INSTANCE1\"].json[\"token\"] }}",
              "type": "string"
            },
            {
              "id": "b19d0a6a-38de-4729-aeb7-c0be4a158fde",
              "name": "instance_name",
              "value": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"instance_name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        2928
      ],
      "id": "17727d4d-de7d-4bf4-8246-02528a5a09cd",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexaflow.uazapi.com/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $node[\"HTTP CREATE INSTANCE1\"].json[\"token\"] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $node[\"Webhook\"].json[\"body\"][\"receipt_webhook_url\"] }}\",\n  \"enabled\": true,\n  \"events\": [\"messages\"],\n  \"excludeMessages\": [\"wasSentByApi\"]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        2928
      ],
      "id": "35cf4889-e7b5-430d-8c16-f8cf780a392d",
      "name": "HTTP Request1",
      "retryOnFail": false
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n-start.uvfexz.easypanel.host",
            "user-agent": "node",
            "content-length": "203",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "52.87.32.193",
            "x-forwarded-host": "n8n-n8n-start.uvfexz.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "460be1398f88",
            "x-invocation-id": "gru1::m8p6x-1771999347145-cfca2ba624b1",
            "x-real-ip": "52.87.32.193",
            "x-vercel-id": "gru1::m8p6x-1771999347145-cfca2ba624b1"
          },
          "params": {},
          "query": {},
          "body": {
            "instance_name": "70e421e9-c706-4854-b8b6-59921c48aa60",
            "user_id": "70e421e9-c706-4854-b8b6-59921c48aa60",
            "receipt_webhook_url": "https://webhook.linqapps.com/webhook/e8a937c5-4050-4fd5-a446-c41d6ed31c06"
          },
          "webhookUrl": "https://n8n-n8n-start.uvfexz.easypanel.host/webhook/wa/createnexus",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "HTTP CREATE INSTANCE1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GENERATE QR1": {
      "main": [
        [
          {
            "node": "Respond to Webhook CONNECT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP GET STATUS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET STATUS2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET STATUS3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook CONNECT1": {
      "main": [
        [
          {
            "node": "HTTP GET STATUS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP CREATE INSTANCE1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "HTTP GET STATUS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HTTP GENERATE QR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7284b950-c0a7-4c47-a119-c480e5e152a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "K-6y_jI6MLXWzR4mwYrv7",
  "tags": [
    {
      "updatedAt": "2026-02-25T01:51:05.043Z",
      "createdAt": "2026-02-25T01:51:05.043Z",
      "id": "DTo4LDgRNlpWJeht",
      "name": "RONSILSON"
    }
  ]
}