Workflows N8N/SDR Nexus APP (1).json
{
  "name": "SDR Nexus APP",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "7e235404-967b-494c-be6e-1b891cd676eb",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2448,
        1920
      ],
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "04399f86-0749-493e-9c81-a5bc6de3a6e9",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1872,
        2032
      ],
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "content": "# Agente IA",
        "height": 80,
        "width": 196,
        "color": 5
      },
      "id": "cedf6e88-3ffe-4c77-8f5c-c003ca08a88b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        1536
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "f6241843-6052-4a10-800a-2b3fa7d99fc0",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        2016,
        1936
      ],
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1084,
        "width": 1860,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2720,
        1392
      ],
      "typeVersion": 1,
      "id": "32aa6dff-0fa9-4d16-af0c-bfbea034730e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "cb9b4be2-62bd-4c06-8ba1-58d85a2056a5",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4816,
        2032
      ],
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "acf3fcba-5178-4f08-b501-3dcb8695c106",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5408,
        1856
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "3138e438-fb36-4e21-a6b4-c9339d9605b0",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        5040,
        2032
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 100 e 300 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n  ]\n}"
            }
          ]
        }
      },
      "id": "6ce14c53-2358-438c-95e4-689e9753b4ce",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4832,
        1840
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        1552
      ],
      "typeVersion": 1,
      "id": "b450bb6b-4a62-453e-8082-af4d4b07bae9",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Texto",
        "height": 80,
        "width": 736,
        "color": 5
      },
      "id": "87f2f0d7-04a7-4fac-bd2d-89b5b61530e3",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4720,
        1568
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2896,
        2112
      ],
      "id": "d01999a6-2bd0-47f9-8523-74ce1eb42970",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem Completa').item.json.mensagem_completa }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"{{ $('PEGARLOJA').item.json.atendente }}\",\n  \"role\": \"SDR automotivo\",\n\n  \"description\": \"Você é {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }}. Dá boas-vindas com a saudação correta pelo horário e conduz o pré-atendimento de forma natural, simpática e objetiva, sem enrolação. Especialista em carros, sugestões e objeções.\",\n\n  \"context_variables\": {\n    \"saudacao\": \"{{(() => { const h = $now.hour; if(h < 12) return 'Bom dia'; if(h < 18) return 'Boa tarde'; return 'Boa noite'; })()}}\",\n\n    \"mensagem_inicial\": \"{{ $input.firstMessage || '' }}\",\n\n    \"encerramento_dinamico\": \"{{(() => { const h = $now.hour; const d = $now.weekday; if ((d >= 1 && d <= 5 && h >= 8 && h < 18) || (d === 6 && h >= 8 && h < 13)) return 'Um consultor vai já entrar em contato com você neste Whatsapp: '; return 'Um consultor vai te contatar quando a loja abrir.'; })()}}{{ $('Dados').item.json.lead_link }}\"\n  },\n\n  \"instructions\": [\n\n    \"Sempre inicie com a saudação pelo horário (use 'saudacao'). Nunca use 'Olá'.\",\n\n    \"Mensagem inicial: \\\"{{(() => { const h = $now.hour; if(h < 12) return 'Bom dia'; if(h < 18) return 'Boa tarde'; return 'Boa noite'; })()}}! Sou {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }} e farei seu atendimento\\\"\",\n\n    \"Nunca repita a saudação em mensagens seguintes.\",\n\n    \"Pergunte o nome apenas se ele ainda não estiver no contexto: \\\"Qual seu nome?..\\\"\",\n\n    \"Após receber o nome, verifique 'mensagem_inicial'. Se ela indicar modelo/veículo ou anúncio (ex.: 'vim pelo gol'), classifique como COMPRA e vá direto buscar o modelo citado no estoque, sem perguntar a intenção..\",\n\n    \"Identifique também pedidos por SEGMENTO/CATEGORIA (ex.: 'sedan', 'SUV', 'hatch', 'picape/pickup', 'crossover', 'minivan'). Se o cliente pedir um segmento, vá direto ao estoque e liste as opções desse segmento, sem perguntar preferência de modelo..\",\n\n    \"Se o cliente pedir 'todos' de um segmento (ex.: 'todos os sedans'), envie em LOTES de até 5 veículos por vez e pergunte se deseja ver mais antes do próximo lote..\",\n\n    \"Sempre use blocos curtos de até 200 caracteres e finalize cada bloco com. Nunca envie mais de uma pergunta por vez.\",\n\n    \"Jamais cite ferramentas, sistemas, planilhas, integrações ou tecnologia.\",\n\n    \"Sempre que precisar apresentar veículos, consultar ficha, preço ou fotos, use exclusivamente o estoque oficial via tool.\",\n\n    \"Nunca invente carros, versões, valores, imagens ou dados. Jamais minta sobre itens inexistentes\",\n\n    \"Se houver mais de uma versão do modelo solicitado, apresente até 3 (priorize mais novos ou menor km) com frases variadas.\",\n\n    \"Quando houver várias opções do mesmo modelo, comece com: 'Aqui estão algumas opções que temos:..' e envie cada ficha em bloco separado no padrão visual. A informação  por veiculo deve ser enviado em um unico bloco de mensagem!, quando enviar mais de um veículo, você separa cada veículo por bloco de mensagem unicos de cada veiculo \",\n\n    \"exemplo de Padrão visual para veículos: 🚙 [Modelo e versão]\\\\n📅 [Ano] | ⛽ [Combustível] | ⚙️ [Câmbio]\\\\n🛣️ [km] | 💰 [Valor]\\\\n🔗 Fotos: [link]\",\n\n    \"Após apresentar, finalize: 'Se alguma dessas opções te interessou, posso te ajudar com a simulação de compra, troca ou financiamento!'\",\n\n    \"Se não houver nenhuma versão do modelo pedido, informe positivamente a indisponibilidade e sugira até 2 similares do mesmo segmento/valor que estão dentro do tool de estoque do cliente\",\n\n    \"Se o cliente não gostar das sugestões, diga que um vendedor pode localizar o carro com parceiros credenciados e que será acionado.\",\n\n    \"Nunca pressione o cliente ou prometa descontos ou promoções.\",\n\n    \"Perguntas sobre entrada/parcelas/condições: explique que depende da análise de crédito dos bancos parceiros; alguns pedem entrada, outros não; taxas e prazos variam. Só após a análise é possível simular..\",\n\n    \"Se o cliente perguntar sobre localização, endereço, horário ou como chegar, responda imediatamente com as informações oficiais da loja (ver 'informacoes_da_loja')..\",\n\n    \"Os blocos devem ter frases de transição naturais, manter tom humano e visual limpo.\",\n\n    \"Após a confirmação final do cliente ou conclusão do atendimento, ENCERRAR a conversa chamando OBRIGATORIAMENTE a tool `encaminhar_humano`. A tool nunca deve ser mencionada ao cliente. e nunca deve ser acionada antes de finalizar o atendimento ou tiver algum impasse de estoque ou solicitação do cliente. Nessa etapa, você deve enviar um resumo contendo: Nome do cliente (se disponível), caso nao tenha disponivel, nao solicite, Forma de pagamento, Carro escolhido, CPF (se disponiível), data de nascimento (se disponiível), Se o cliente possui CNH e o link de contato do cliente extraído do campo lead_link [{{ $('Dados').item.json.lead_link }}] coloque esse numero do lead_link na mensagem de notificação. ⚠️ A notificação e o resumo devem ser enviados imediatamente após o cliente escolher qualquer uma das tres formas de pagamento e tambem depois que o cliente enviar os documentos solicitados.\"\n  ],\n\n  \"flow\": [\n\n    \"Saudação + apresentação: 'Bom dia! Sou {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }}, e farei seu atendimento hoje!' (adapte pelo horário).\",\n\n    \"Se nome não estiver no contexto: 'Qual seu nome?'..\",\n\n    \"Após nome: verifique 'mensagem_inicial'.\",\n\n    \"   • Se contém referência clara a veículo/anúncio: ir DIRETO ao estoque com o modelo citado e apresentar opções {{ $('Code').item.json.message }}\",\n\n    \"   • Se contém pedido de SEGMENTO: ir DIRETO ao estoque filtrando pelo segmento solicitado. Se o cliente pedir 'todos', enviar em lotes de até 5 e perguntar se deseja mais\",\n\n    \"   • Caso contrário: 'Prazer, [Nome]! Como posso te ajudar hoje? Comprar, vender ou trocar?'\",\n\n    \"Seguir conforme a escolha:\",\n\n    \"   a) Compra: perguntas sobre modelo, ano, forma de aquisição..\",\n\n    \"   b) Venda: coletar dados do veículo e fotos\",\n\n    \"   c) Troca: coletar dados e forma de pagamento da diferença..\",\n\n    \"   d) Financiamento: coletar nome, nascimento, CPF e se possui CNH(Sim ou Não)\",\n\n    \"   e) Carta de crédito: coletar valor e banco emissor..\",\n\n    \"   f) Compra à vista: coletar nome e CPF\",\n\n    \"Somente após confirmação final, enviar a mensagem de encerramento ao cliente e EM SEGUIDA chamar a tool `encaminhar_humano` para encaminhar o atendimento a um consultor humano.\"\n  ],\n\n  \"apresentacao_de_veiculos\": [\n\n    \"Sempre consulte o estoque oficial via tool antes de sugerir veículos. Utilize exclusivamente os dados retornados. {{ $('Code').item.json.message }}\",\n\n    \"Para SEGMENTO: filtrar pelo tipo solicitado (SUV, Sedan, Hatch, etc.) e apresentar apenas veículos desse tipo. Se o usuário pedir 'todos', enviar em lotes de até 5 veículos e perguntar se deseja ver mais antes de continuar.\",\n\n    \"Para MODELO específico: apresentar até 3 veículos disponíveis desse modelo, priorizando os mais novos ou com menor preço. {{ $('Code').item.json.message }}\",\n\n    \"Padrão visual obrigatório para apresentação:\\\\n🚙 *[Nome do veículo]*\\\\n📅 Ano: [Ano]\\\\n🚘 Tipo: [Tipo]\\\\n💰 Valor: [Preço]\\\\n🔗 Fotos e detalhes: https://app.nexuscar.com.br/carro/[id]\",\n\n    \"Se o modelo solicitado não existir no estoque, informar de forma positiva, nunca inventar ou supor veículos, e sugerir até 2 veículos similares reais do mesmo segmento e faixa de valor, exclusivamente com base no estoque disponível. {{ $('Code').item.json.message }}\",\n\n    \"Após apresentar as opções, finalize sempre com: *'Se alguma dessas opções te interessou, posso te ajudar com a simulação de compra, troca ou financiamento!'*\"\n  ],\n\n  \"quebra_de_objeções\": [\n\n    \"Se o veículo desejado não estiver no estoque:\",\n\n    \"1️⃣ Informe com empatia: 'No momento não temos esse modelo em estoque..'\",\n\n    \"2️⃣ Sugira até 2 opções similares reais do mesmo segmento/valor.\",\n\n    \"3️⃣ Se o cliente não gostar: 'Sem problemas! Nosso time pode localizar o carro com parceiros credenciados. Vou acionar um vendedor para ajudar..'\",\n\n    \"4️⃣ Nunca deixe o cliente sem alternativa, sempre dê alternativas que existem dentro do estoque.\"\n  ],\n\n  \"informacoes_da_loja\": {\n    \"nome\": \" {{ $('Edit Fields1').item.json['Nome da Loja'] }}\",\n    \"endereco\": \"{{ $('PEGARLOJA').item.json.endereco }} \",\n    \"resposta_padrao\": \"📍 {{ $('Edit Fields1').item.json['Nome da Loja'] }} -{{ $('PEGARLOJA').item.json.endereco }}  \\\\n🏢  Teresina – PI\\\\n\"\n  },\n\n  \"tools\": [\n    {\n      \"name\": \"estoque_de_carros\",\n      \"description\": \"Retorna exclusivamente o estoque real e atualizado de veículos da loja. A IA nunca deve inventar modelos,nem usar modelos de outras lojas, apenas usar exatamente os veículos fornecidos por este tool.\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {}\n      }\n    },\n    {\n      \"name\": \"encaminhar_humano\",\n      \"arguments\": {\n        \"resumo\": \"📢 Novo atendimento iniciado. Cliente interessado em veículos e aguardando contato.\"\n      }\n    }\n  ],\n\n  \"tool_responses\": {\n    \"estoque_de_carros\": \"{{ $('Code').item.json.message }}\"\n  },\n\n  \"encerramento\": [\n    \"'Um consultor vai já entrar em contato com você. Obrigada pela atenção!'\"\n  ],\n\n  \"rules\": [\n    \"Nunca repita a saudação.\",\n    \"Nunca use 'Olá'.\",\n    \"Nunca envie mais de uma pergunta por vez.\",\n    \"Adapte o tom conforme o cliente.\",\n    \"Nunca cite robô/IA/ferramentas/tecnologia.\",\n    \"Sempre consulte o estoque oficial; jamais invente dados.\",\n    \"Máximo de 2 blocos no resumo final: ficha + confirmação.\",\n    \"sempre finalize a conversa com `Um consultor vai já entrar em contato com você.`\"\n  ]\n}"
        }
      },
      "id": "d1355930-b1ed-4973-a0f9-66b4134cff73",
      "name": "Atendente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3008,
        1744
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.Telefone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3072,
        2016
      ],
      "id": "16fd32d0-763c-46e6-b693-19d9d2a4bb4d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ikYjm2qaa6MX0RBC",
          "name": "postgrass-nexuscar"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "338201",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "2aa763f7-cf04-44e7-9bbb-8f8de823aef8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar na IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "820760d6-3546-4007-8917-55d366a74261",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "338201",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avisar Lead grupo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3872,
        1744
      ],
      "id": "f8f3f455-d3b3-4907-9e82-436dafaf0a6e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        5488,
        2496
      ],
      "id": "dd5dd0a8-9755-410f-86fd-1d69fb7b6c1d",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        2208
      ],
      "typeVersion": 1,
      "id": "878421b7-18f6-4ca7-92d3-a099e5e7db07",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# AVISAR NOVO LEAD NO GRUPO",
        "height": 80,
        "width": 656,
        "color": 5
      },
      "id": "21cf5f5d-7164-434e-86ce-3a6bfc213bb5",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4720,
        2240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4768,
        2336
      ],
      "id": "56640216-3f20-479b-b90e-bbd95836c917",
      "name": "UAZAPI Send Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('PEGARLOJA').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5856,
        2336
      ],
      "id": "71c5900c-b85a-4719-9dfd-eabe045c92a7",
      "name": "UAZAPI Notify Store"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "crm_status",
              "fieldValue": "negociando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6096,
        2352
      ],
      "id": "9c0ad86c-1fa4-490c-8150-7b5ac3d6fe56",
      "name": "Auto Mover Lead Negociando",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        5408,
        1296
      ],
      "id": "3678562e-ae45-4626-badd-b4a39afea851",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "defac08a-6745-422b-bb05-90da9f47d91b",
              "leftValue": "={{ $('Busca Telefone').last().json.values() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4912,
        1296
      ],
      "id": "c51349e0-21e5-416f-9298-61ad85185f08",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4688,
        1152
      ],
      "typeVersion": 1,
      "id": "663ee117-cc6e-41cc-9831-6654e6886d2a",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Cadastra Chat Supabase",
        "height": 80,
        "width": 450,
        "color": 5
      },
      "id": "6cfa814e-16d5-40e5-8eca-114decd49b00",
      "name": "Sticky Note55",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4720,
        1168
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4752,
        1296
      ],
      "id": "e393a7e4-a182-4d9f-b202-ce121bea70bf",
      "name": "Busca Telefone",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5200,
        1200
      ],
      "id": "c9b3a970-0b0c-45bf-a52b-3b224de28f12",
      "name": "Adiciona CHAT supabase",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5216,
        1376
      ],
      "id": "1186be9f-3fc3-4542-8fc2-00fd826d0f81",
      "name": "Atualiza CHAT Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('Atendente').item.json.output }}"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('Dados').item.json.message.content }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Dados').item.json.body.event }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Dados').item.json.NomeWpp }}"
            },
            {
              "fieldId": "whatsapp_id",
              "fieldValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5616,
        1296
      ],
      "id": "2bddb50c-faac-43ac-ac6a-e6349131d74b",
      "name": "Cria Histórico Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "692b3c87-9fc8-4768-af5d-8a8f26b4b8c8",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5200,
        1856
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "546d1a97-44d9-4559-8389-da72f8d79b8e",
      "name": "1 segundo",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5952,
        1872
      ],
      "webhookId": "bcb24fcd-e695-4aca-9c11-a806aad06575"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.Telefone }}"
      },
      "id": "57fc96da-c03b-4c15-a158-549fd6eade30",
      "name": "Delete Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5808,
        1296
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_documentos",
        "description": "Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto",
        "topK": 2
      },
      "id": "e2ced6bf-ed8d-4290-930d-d14826a25bf8",
      "name": "buscar_documentos",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        2208,
        1792
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4928,
        2336
      ],
      "id": "808285aa-3210-496f-b87e-cf3162a5c9f7",
      "name": "ListMessages-Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversas",
        "include": "specifiedFields",
        "fieldsToInclude": "id,message_type,created_at,user_message, bot_message,phone",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        5136,
        2336
      ],
      "id": "20d91011-ffb2-475d-acc3-75fa5e6e846e",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5312,
        2336
      ],
      "id": "c0c70fc8-aa3f-4fd9-96b4-8bf4881041a3",
      "name": "Code6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        5520,
        2336
      ],
      "id": "10b0574f-a04b-487a-a4d8-9221f7ae770f",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3200,
        1904
      ],
      "id": "068223a2-b8ee-4d99-8dca-ef00036c995b",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2976,
        1888
      ],
      "id": "883c3218-9d6e-45a4-8590-e219841a1a7a",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Dados').item.json.NomeWpp }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "whatsapp_id",
              "fieldValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2768,
        2000
      ],
      "id": "d652439b-b3e1-41f9-841f-f3ad3099d262",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        1520
      ],
      "typeVersion": 1,
      "id": "47fc092e-65e9-4102-bd1f-48662a35134b",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 660,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        1488
      ],
      "typeVersion": 1,
      "id": "910b8b5a-c755-4bf9-8f09-b3a0c9e9ee7c",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3264,
        1728
      ],
      "typeVersion": 1,
      "id": "fab3c5cb-04cb-4804-b32e-c2707e68254a",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Cadastrar Lead Supa Base",
        "height": 80,
        "width": 596,
        "color": 4
      },
      "id": "c87405a8-86c3-4201-975b-037b69bc22a1",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3264,
        1632
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1392,
        1664
      ],
      "typeVersion": 1,
      "id": "cdc4a919-53bf-4967-a961-f24c6ffda0e0",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        512
      ],
      "typeVersion": 1,
      "id": "efe26909-fa4c-467e-9ea4-c1d964aedd55",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1216,
        112
      ],
      "typeVersion": 1,
      "id": "eb8b6c57-e012-461b-aee3-1edcbca390a3",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        512
      ],
      "typeVersion": 1,
      "id": "922bcd02-822a-44d1-947f-b5063ed02f3a",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e8a937c5-4050-4fd5-a446-c41d6ed31c06",
        "options": {}
      },
      "id": "7f40c7a5-0d89-487f-924f-65a09b9e52fc",
      "name": "Webhook EVO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3920,
        1920
      ],
      "webhookId": "e8a937c5-4050-4fd5-a446-c41d6ed31c06"
    },
    {
      "parameters": {
        "content": "# Pausar IA",
        "height": 80,
        "width": 216,
        "color": 4
      },
      "id": "5a0fc8d3-ea6c-407e-9199-81b2c150b930",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        1664
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        752,
        128
      ],
      "id": "4036c2b1-7174-40fb-ad0b-18f0da9c186d",
      "name": "Cria Tabela Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1792,
        144
      ],
      "id": "a3d9f51a-d73d-4081-820b-eadfe18314fc",
      "name": "Cria Tabela Documentos",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from documents",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1520,
        528
      ],
      "id": "97bc8977-aa45-4355-b5ec-1f60548a5464",
      "name": "Deleta Conteúdo Documentos",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        112
      ],
      "typeVersion": 1,
      "id": "d0c7f223-2b8b-45e7-93c5-6c4ee424657c",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1744,
        112
      ],
      "typeVersion": 1,
      "id": "f7a641cd-81e2-4854-bdb0-a2deb6e1f669",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        432,
        112
      ],
      "typeVersion": 1,
      "id": "fcf74a17-798c-42c2-a600-df3951703224",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        112
      ],
      "typeVersion": 1,
      "id": "27b801cf-1f39-4e7d-b2a8-ca091e877c4d",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        512
      ],
      "typeVersion": 1,
      "id": "8214b41a-abf4-4e9b-96bb-341c35ab259a",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        112
      ],
      "typeVersion": 1,
      "id": "dba0525b-696d-45a7-97b8-f89124a0a4b0",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        528
      ],
      "id": "02a989ab-e069-43bf-b407-1551ef5297f6",
      "name": "Deleta Histórico",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1536,
        128
      ],
      "id": "aac6c08c-cd92-4079-b9ca-72d953534371",
      "name": "Cria função Busca em Vetor",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        128
      ],
      "id": "65e8720f-5920-4d51-a8b2-565853ca5540",
      "name": "Cria Extensão Vetor",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1008,
        128
      ],
      "id": "d5ce14bc-5689-4f42-b26d-b812ca4c3e78",
      "name": "Cria Tabela Chats",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        512
      ],
      "typeVersion": 1,
      "id": "0fbfa156-0580-476e-b748-3c0ec042e686",
      "name": "Sticky Note65"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chats",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1248,
        528
      ],
      "id": "6e8731cc-6017-491e-af9b-6d94183c6194",
      "name": "Deleta Conteúdo Chats",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from dados_cliente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        992,
        528
      ],
      "id": "35301fe5-6133-45ac-a529-372305c870a2",
      "name": "Deleta Conteúdo Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        512
      ],
      "typeVersion": 1,
      "id": "9b9f0fec-6e37-416e-ab67-0a8ccdff2379",
      "name": "Sticky Note66"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chat_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        736,
        528
      ],
      "id": "7f0082fc-253a-4e5a-8740-d1a9fec7bc09",
      "name": "Deleta Conteúdo Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        128
      ],
      "id": "9490f158-8154-4e7c-9c67-4566cdd8c3b4",
      "name": "Cria Tabela Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "P2Epd2xndtQ80c6z",
          "name": "Postgres-medeiros"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3968,
        1728
      ],
      "typeVersion": 1,
      "id": "9080d231-654a-46c4-af6a-9dad34027d4a",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## WEBHOOK & ROTAS",
        "height": 80,
        "width": 276,
        "color": 4
      },
      "id": "6452b6fc-6eb1-4265-893a-98e6d2d7dbc5",
      "name": "Sticky Note67",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3920,
        1792
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "d9e7acb4-af3d-4585-9985-d275bebe0e72",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1200,
        2576
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "351d3054-044e-4f82-b243-782de4747e6b",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        2752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook EVO').item.json.body.message.content.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57fad751-eeda-4d29-ab28-3f1b9b37ba6e",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        416,
        2000
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "b1dee1f2-8bfe-4d28-98ed-3f7f035c5d1b",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        2016
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "1a87ea17-9eca-4f3f-b173-816e71e4965b",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        1840
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.chat.wa_lastMessageType }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.chat.wa_lastMessageType }}",
                    "rightValue": "Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook EVO').item.json.body.chat.wa_lastMessageType }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0f528e31-ce51-4d5e-8332-17d3e63a2487"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $('Webhook EVO').item.json.body.chat.wa_lastMessageType }}",
                    "rightValue": "ImageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "ffab69db-266f-40c4-9bad-b38f999ed505",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -240,
        1872
      ]
    },
    {
      "parameters": {
        "content": "# Mensagem Picotada",
        "height": 80,
        "width": 396,
        "color": 4
      },
      "id": "ad757c1e-1f2c-4825-bc35-13308e69082e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        1520
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é",
        "inputType": "base64",
        "options": {}
      },
      "id": "112953c5-68f1-4e5f-bb18-b8600e702bf9",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1040,
        2576
      ],
      "credentials": {
        "openAiApi": {
          "id": "MV021WlJq3qWNMfR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.Redis2 }}",
              "rightValue": "={{ $json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6dfb45b4-7093-4d92-8871-c1daa16ed8c4",
      "name": "Compara Get Memory1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        1776
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Verificar Pause').item.json.telefone }}",
        "messageData": "={{ $('Dados').item.json.message.content }}",
        "tail": true
      },
      "id": "7b559873-c12a-47bb-ada4-db5d6d936b26",
      "name": "Text Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        1520
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "558535bd-9183-4e86-91a3-a15ac8b36852",
      "name": "Audio Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        576,
        1680
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d62061b1-a5f7-4bed-9163-76aa888812eb",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        1776
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "21314794-0329-40cd-9f8d-f5f77127ef76",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        1776
      ],
      "webhookId": "caca9217-3966-41e5-bb09-da71bd465af1"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.Telefone }}",
        "options": {}
      },
      "id": "452ac7a0-776b-4264-a8f7-5fca53ab4303",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        896,
        1776
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.Telefone }}",
        "options": {}
      },
      "id": "854dbdd6-aa4c-4adf-92a1-2ce8679f4aff",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        1776
      ],
      "credentials": {
        "redis": {
          "id": "ScsbkAwAAJFBHJEk",
          "name": "Redis account - NexusCAR"
        }
      }
    },
    {
      "parameters": {
        "content": "# Filtro de mensagem",
        "height": 80,
        "width": 356,
        "color": 4
      },
      "id": "10b7b5aa-509c-40a4-8a40-69d76aeedf7a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        1504
      ]
    },
    {
      "parameters": {
        "jsCode": "const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"
      },
      "id": "6eaf048a-8898-4119-88aa-58c9f7512b79",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        1760
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data2",
        "options": {}
      },
      "id": "ac55fc26-b99d-4212-867e-022f2e8db1aa",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        432,
        1792
      ],
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ferramentas para criar\n\n",
        "height": 80,
        "width": 456,
        "color": 4
      },
      "id": "9b6f4e14-3b7e-485a-b120-55e9a3417961",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "content": "# Ferramentaspara apagar\n\n",
        "height": 80,
        "width": 496,
        "color": 3
      },
      "id": "473a735a-74df-44df-86df-c9a57418d1d3",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        416
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1024,
        1696
      ],
      "id": "ed93ca60-95ff-49f2-88d7-a099bc05c033",
      "name": "Pausar IA",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1296,
        2016
      ],
      "id": "1470bd39-be4c-4de6-bbbf-610cbcefdbdc",
      "name": "Verificar Pause",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "b95af081-3636-4b04-910d-77740736f8a5",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1120,
        2016
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "reativada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -848,
        1856
      ],
      "id": "e1dc6831-6c28-4a01-a9b5-6d49a9f4b140",
      "name": "Reativar IA",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1024,
        1856
      ],
      "id": "668a44fb-3559-4950-a8b5-fa35f1ce3f6d",
      "name": "Wait",
      "webhookId": "d5e0fd93-52aa-4fb1-89ee-7eb8c16f93cc"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -464,
        1984
      ],
      "id": "4d71a8d2-b6dd-4aa7-9325-306e3ca9dbde",
      "name": "Salvar Historicoo Humano1",
      "credentials": {
        "postgres": {
          "id": "ikYjm2qaa6MX0RBC",
          "name": "postgrass-nexuscar"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1920,
        1808
      ],
      "id": "4363695e-8d76-401f-b0e4-165ceb3ce726",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_completa }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"
        }
      },
      "id": "cca6fc08-8053-4038-95e3-75f986abb20e",
      "name": "Agente Rag",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1920,
        1616
      ]
    },
    {
      "parameters": {
        "content": "# Agente RAG",
        "height": 80,
        "width": 336,
        "color": 4
      },
      "id": "3f51fda9-04e4-431f-9ac9-387a4bb01d86",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        1520
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -32
      ],
      "typeVersion": 1,
      "id": "85dad4b2-1ef6-4043-8277-e7e813584637",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        368
      ],
      "typeVersion": 1,
      "id": "fc2c581b-81c6-4dcb-8885-72c50efb7da5",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        1520
      ],
      "typeVersion": 1,
      "id": "7038cacb-9c3d-4d15-9564-c64dc9ff9f4a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -528,
        1696
      ],
      "id": "9a09a5ce-cc58-4add-a2fe-a42fc03846e5",
      "name": "Salvar Historicoo Humano",
      "credentials": {
        "postgres": {
          "id": "ikYjm2qaa6MX0RBC",
          "name": "postgrass-nexuscar"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6560,
        1968
      ],
      "id": "3ba84e54-07fd-43c7-a3ce-576813dc6e8f",
      "name": "Pausar IA1",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=5511985636392@s.whatsapp.net"
      },
      "id": "f51193f6-60da-4e33-bc24-5106855b93ee",
      "name": "Delete Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1808,
        560
      ],
      "credentials": {
        "redis": {
          "id": "WK0zWRqAD3OZCzEQ",
          "name": "Redis-memory-raeda"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.chat.wa_chatid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $json.body.message?.text ? 'text' : ($json.body.message?.mediaType || 'unknown') }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.body.message?.text || $json.body.message?.content || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $json.body.message?.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7",
              "name": "Telefone",
              "value": "={{ $json.body.chat?.wa_chatid || $json.body.message?.chatid || '' }}",
              "type": "string"
            },
            {
              "id": "a57db642-3e13-452e-bb5b-19f7e9f3bd5d",
              "name": "NomeWpp",
              "value": "={{ $json.body.chat?.wa_name || $json.body.message?.senderName || $json.body.chat?.name || '' }}",
              "type": "string"
            },
            {
              "id": "98f1a2a5-94db-4530-831a-1d0cf8cb56d5",
              "name": "uazDomain",
              "value": "https://nexaflow.uazapi.com",
              "type": "string"
            },
            {
              "id": "1cc7912e-a60e-4550-8e73-6eae6ae2d99e",
              "name": "uazInstance",
              "value": "={{ $json.body.instanceName }}",
              "type": "string"
            },
            {
              "id": "a3f4aeee-b954-4aac-8889-52613691aca3",
              "name": "uazToken",
              "value": "={{ $json.body.token }}",
              "type": "string"
            },
            {
              "id": "a9e0e857-1816-4a9b-aca1-45bbf2f52e2f",
              "name": "lead_wa",
              "value": "={{ $json.body.chat.wa_chatid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "c95fa1e3-04a9-48ed-a307-5a3d3bcabacf",
              "name": "lead_link",
              "value": "={{ 'wa.me/' + $json.body.chat.wa_chatid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "b3b170bd-9333-4ef2-b9fd-e35e75baa50a",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e7640cb7-ce99-4f36-944f-524bcf24de5b",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3712,
        1936
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "e17f2bf1-ac2e-422a-b3fc-41863ee64637",
      "name": "Switch6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2432,
        1872
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Um consultor vai já entrar em contato com você."
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Pausada"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reativar IA"
            }
          ]
        },
        "options": {}
      },
      "id": "72fbfad4-7289-43d1-8d2c-1f445aa07aad",
      "name": "Rotas1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1232,
        1840
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5922557b-71e7-4390-af21-10b683e7a875",
                    "leftValue": "={{ $json.Telefone }}",
                    "rightValue": "={{ $json.message.chat_id }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Numero pessoal "
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "TreinoIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rota normal"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "TreinoIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Treinamento IA"
            }
          ]
        },
        "options": {}
      },
      "id": "75a0f63b-448d-444a-9c93-afadc9c17654",
      "name": "Rotas",
      "type": "n8n-nodes-base.switch",
      "position": [
        -3520,
        1920
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "store_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2272,
        2016
      ],
      "id": "27cd1152-a604-4ec4-ad31-af25aa4cf1b9",
      "name": "PEGARLOJA",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cf36839-1585-45e4-94b9-e963612bf678",
              "name": "Nome da Loja",
              "value": "={{ $json.store_name }}",
              "type": "string"
            },
            {
              "id": "d444acad-1f4f-482a-99c6-dc65c1743c93",
              "name": "Abertura",
              "value": "={{ $json.open_time }}",
              "type": "string"
            },
            {
              "id": "520a2825-6e6a-42ca-8ba7-12ba7d93ca93",
              "name": "Fehamento",
              "value": "={{ $json.close_time }}",
              "type": "string"
            },
            {
              "id": "e7e785ec-374d-4900-b7fe-dda175bc5aed",
              "name": "Mensagem de audeencias",
              "value": "={{ $json.business_hours_message }}",
              "type": "string"
            },
            {
              "id": "f870a904-0f06-448e-b47d-4f357d8ea851",
              "name": "telefone_formatado",
              "value": "={{ $json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        2016
      ],
      "id": "d228a2c1-7192-47f0-a96f-effbf523a0dd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estoque",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1712,
        2016
      ],
      "id": "d973d043-f896-4bfa-a6f5-9f1ea12140a3",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const cars = items.map(item => item.json);\n\n// formata preço\nfunction formatPrice(v) {\n  return Number(v).toLocaleString(\"pt-BR\", {\n    style: \"currency\",\n    currency: \"BRL\",\n  });\n}\n\n// helpers para campos opcionais\nfunction formatMileage(v) {\n  if (!v) return \"Não informado\";\n  return `${Number(v).toLocaleString(\"pt-BR\")} km`;\n}\n\nfunction formatText(v) {\n  return v ? v : \"Não informado\";\n}\n\n// monta mensagem\nlet message = \"🚗 *Lista de Veículos Disponíveis*\\n\\n\";\n\ncars.forEach((car) => {\n  const link = `https://app.nexuscar.com.br/carro/${car.id}`;\n\n  message += `🔹 *${car.name?.trim()}* (${car.year})\\n`;\n  message += `   • Modelo: ${formatText(car.model)}\\n`;\n  message += `   • Tipo: ${formatText(car.type)}\\n`;\n  message += `   • Quilometragem: ${formatMileage(car.mileage)}\\n`;\n  message += `   • Combustível: ${formatText(car.fuel)}\\n`;\n  message += `   • Câmbio: ${formatText(car.transmission)}\\n`;\n  message += `   • Status: ${formatText(car.status)}\\n`;\n  message += `   • Preço: ${formatPrice(car.price)}\\n`;\n  message += `   • 📸 Fotos e detalhes: ${link}\\n\\n`;\n});\n\n// ---- RETORNO CORRETO PARA O POSTGRES CHAT MEMORY ---- //\nreturn [\n  {\n    json: {\n      message,\n    },\n    pairedItem: {\n      item: 0\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        2016
      ],
      "id": "3d492afd-fd4c-43bf-bc6e-aec508e11dbe",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Número vindo do node PEGARLOJA\nlet numero = $('PEGARLOJA').first().json.numero;\n\nif (!numero) {\n  throw new Error('Número não encontrado');\n}\n\n// Remove tudo que não for número\nnumero = numero.replace(/\\D/g, '');\n\n// Remove zero inicial\nif (numero.startsWith('0')) {\n  numero = numero.substring(1);\n}\n\n// Adiciona código do país (Brasil)\nif (!numero.startsWith('55')) {\n  numero = '55' + numero;\n}\n\n// Validação básica (55 + DDD + 8 ou 9 dígitos)\nif (numero.length < 12 || numero.length > 13) {\n  throw new Error('Número inválido para Evolution');\n}\n\n// Monta o remoteJid\nconst remoteJid = `${numero}@s.whatsapp.net`;\n\nreturn {\n  numero_formatado: numero,\n  remoteJid\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        2016
      ],
      "id": "7e6d97af-2ebd-48d3-8aae-a84187a9f6d7",
      "name": "NumeroLojaNoticacao"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73877b45-ae75-4629-b976-fde0dc4e7056",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Um consultor vai já entrar em contato com você",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3392,
        2032
      ],
      "id": "f318b6df-8e5b-40af-9fde-4821909d3f50",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('NumeroLojaNoticacao').item.json.numero_formatado }}"
            },
            {
              "name": "text",
              "value": "=Novo Lead - {{ $('Dados').item.json.NomeWpp }} "
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4080,
        2000
      ],
      "id": "632006b5-9e78-418e-9284-18d30604b740",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3632,
        2016
      ],
      "id": "b1370d95-e5f6-4bd2-bc41-7407e8a565dd",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "RsM8TTfdCPtLhqz9",
          "name": "Supabase account - NEXUSCAR"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/send/text\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "name": "delay",
              "value": "={{ 300 }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5592e8d6-6e6d-4b3a-995f-7ee30995d397",
      "name": "sendText3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5696,
        1872
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.messageid }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        2432
      ],
      "id": "b126e88d-b340-47b9-88c9-9efad49c48ba",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23a20286-a11b-4162-8782-d65b286b952b",
              "name": "base64",
              "value": "={{ $json.base64Data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        2432
      ],
      "id": "4a325606-8afa-4560-b788-e168b904c2bb",
      "name": "Base3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "data2",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        656,
        2432
      ],
      "id": "2f919a85-0f38-466f-9a19-13bda84995c8",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23a20286-a11b-4162-8782-d65b286b952b",
              "name": "messageid",
              "value": "={{ $('Webhook EVO').item.json.body.message.messageid }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        2432
      ],
      "id": "d1cbe4f2-4d4e-41f3-8acb-a5523c2f04ee",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Rotas').item.json.uazDomain }}/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Rotas').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "return_base64",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        2736
      ],
      "id": "b4044ce9-2fee-40af-bdfd-ce436b1f8f4d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23a20286-a11b-4162-8782-d65b286b952b",
              "name": "base64",
              "value": "={{ $json.base64Data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        2736
      ],
      "id": "9cfa3981-651b-4183-9e8c-ed2e8a581024",
      "name": "Base2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "binaryPropertyName": "data2",
        "options": {
          "fileName": "image/mp4",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        2736
      ],
      "id": "2d76af12-d6a9-47d6-829b-24ff93ed0931",
      "name": "Convert to File3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Analise a imagem enviada por um cliente de uma loja de veículos.\n\nObjetivo:\n1) Identificar o que aparece na imagem.\n2) Classificar o tipo da imagem.\n3) Verificar se está relacionada a veículo.\n4) Gerar um resumo simples e claro.\n\nClassifique em uma das categorias:\n- VEICULO_COMPLETO\n- INTERIOR_VEICULO\n- DOCUMENTO_VEICULO\n- AVARIA\n- PECA_AUTOMOTIVA\n- COMPROVANTE\n- NAO_RELACIONADO\n\nRetorne SOMENTE um JSON válido no seguinte formato:\n\n{\n  \"relacionado_veiculo\": true ou false,\n  \"categoria\": \"UMA_DAS_CATEGORIAS\",\n  \"descricao_detalhada\": \"Explique claramente o que aparece na imagem\",\n  \"resumo_simples\": \"Resumo curto em até 20 palavras\"\n}\n\nSe não for possível identificar com clareza, informe isso na descrição.\nNão inclua nenhum texto fora do JSON.",
        "inputType": "base64",
        "binaryPropertyName": "data2",
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        2736
      ],
      "id": "e67a6260-ecf4-4300-a80e-9a9bb24c50bc",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "63IWDBEZRQIX8RM2",
          "name": "api-nexa-atendimento"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23a20286-a11b-4162-8782-d65b286b952b",
              "name": "id",
              "value": "={{ $('Webhook EVO').item.json.body.message.messageid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        2736
      ],
      "id": "caaa8fd9-652b-4437-af27-116a46a553f6",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c87af647-41ba-4fea-a373-bafdb6de72f5",
              "name": "telefone_formatado",
              "value": "={{    $json.Telefone      ? 'wa.me/' + $json.Telefone.toString().replace(/\\D/g, '')      : ''  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        2736
      ],
      "id": "abda42de-0f22-4e7e-8bfb-522bf84201df",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexaflow.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('PEGARLOJA').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `✅ PROMPT ORGANIZADO (PADRÃO FINAL)\n\nGere uma ficha interna clara, objetiva e organizada do atendimento realizado.\nEssa ficha será enviada via WhatsApp para a equipe comercial, então precisa ser visual, escaneável e de fácil leitura.\n\nO objetivo é deixar explícito:\n\nO que já foi conversado com o cliente\n\nO veículo de interesse\n\nA forma de pagamento\n\nO status atual\n\nO próximo passo da equipe\n\n🚨 IMPORTANTE – CONTATO DO CLIENTE:\nNo contexto existe um campo chamado \"lead_link\", que contém o link do número do cliente.\nUse exatamente o link presente nesse campo.\nNunca utilize exemplos, placeholders ou números fictícios.\n\nNunca invente informações.\nSe algum dado não existir, omita a linha inteira (exceto o contato, que sempre deve aparecer).\nUse exclusivamente \\\\n para quebras de linha.\nNão utilize linguagem técnica ou robótica.\nFinalize a ficha com um emoji de ação ou atenção: 🚘 📞 👀 📎\n\n\n🎯 *ESTRUTURA OBRIGATÓRIA (usar exatamente este formato):*\n\n📋 *LEAD NOVO - Resumo do Atendimento:*\\\\n\\\\n\n\n👤 *Nome do Cliente:*\n[Extrair do histórico. Se não existir, omitir a linha inteira.]\n📞 *Contato:*\n[extrair link do lead_link lá em Dados e anexar aqui]\n🚘 *Veículo de Interesse:*\n[Modelo completo conforme citado no atendimento ou planilha.]\n💰 *Forma de Pagamento:*\n[À vista / Financiamento / Troca + financiamento / Consórcio]\\\\n\n\n📝 *Dados para Financiamento:*\n(Esta seção só deve aparecer se a forma de pagamento for Financiamento e os dados tiverem sido informados.)\\\\n\n\n👤 *Nome completo:*\\\\n\n[Somente se informado]\n🎂 *Data de nascimento:*\n[Somente se informado]\n🆔 *CPF:*\n[Somente se informado]\n🪪 *Possui CNH:*\n[Sim ou Não, se informado]\\\\n\n\n📍 *Status do Atendimento:*\\\\n\n[Ex: Aguardando envio de documentos / Em simulação de financiamento / Aguardando visita na loja / Cliente pediu retorno / Negociação em andamento]\\\\n\n\n➡️ *Próximo Passo:*\n[Descrever de forma objetiva o que o time comercial deve fazer.]`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        3216,
        2096
      ],
      "id": "96be8737-f34e-4de4-8ca4-1bd9d8b189c2",
      "name": "encaminhar_humano"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "asdccxim",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2768,
        2368
      ],
      "id": "f18c9c78-a81c-4d64-a49e-e2c5d980f289",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nexaflow.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('PEGARLOJA').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Gere um resumo claro, objetivo e organizado do atendimento realizado. O objetivo é criar uma ficha interna para a equipe comercial da loja de veículos, deixando explícito: O que já foi conversado com o cliente O interesse principal (modelo do veículo) A forma de pagamento pretendida O status atual do atendimento Qual deve ser o próximo passo A ficha será enviada via WhatsApp, portanto deve ser visual, escaneável e fácil de leitura. 🚨 IMPORTANTE (CONTATO DO CLIENTE): No contexto existe um campo chamado \"lead_link\" que contém o link do número do cliente. Não use exemplos, placeholders ou números fictícios. 🎯 ESTRUTURA DA FICHA (use exatamente este formato): 📋 Resumo do Atendimento: \\\\n [Descreva de forma natural e profissional o que foi conversado, qual veículo foi apresentado e o nível de interesse do cliente.] \\\\n 👤 Nome do Cliente: \\\\n [Extrair do histórico. Se não existir, omitir a linha inteira.] \\\\n 🚘 Veículo de Interesse: \\\\n [Modelo completo conforme citado no atendimento ou planilha.] \\\\n 💰 Forma de Pagamento: \\\\n [À vista / Financiamento / Troca + financiamento / Consórcio] \\\\n 📝 Dados para Financiamento: \\\\n 👤 Nome completo: [Somente se informado] \\\\n 🎂 Data de nascimento: [Somente se informado] \\\\n 🆔 CPF: [Somente se informado] \\\\n 🪪 Possui CNH: [Sim ou Não, se informado] (⚠️ Esta seção só deve aparecer se a forma de pagamento for financiamento e os dados tiverem sido informados. Caso contrário, omitir a seção inteira.) \\\\n 📍 Status do Atendimento: \\\\n [Exemplo: Aguardando envio de documentos / Em simulação de financiamento / Aguardando visita na loja / Cliente pediu retorno / Negociação em andamento] \\\\n ➡️ Próximo Passo: \\\\n [Descrever de forma objetiva o que o time comercial deve fazer.] \\\\n 📞 Contato: \\\\n \n[link extraído do lead_link] \nUse exclusivamente \\\\n para quebras de linha Nunca invente informações Se algum dado não existir, omita a linha inteira (exceto Contato) Não utilize linguagem técnica ou robótica Finalize a ficha com um emoji de ação ou atenção (🚘 📞 👀 📎)`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        2912,
        2384
      ],
      "id": "ac3089e6-57a3-42a0-a085-ce1b8d78553b",
      "name": "encaminhar_humano1"
    }
  ],
  "pinData": {
    "Webhook EVO": [
      {
        "json": {
          "headers": {
            "host": "n8n-n8n-start.uvfexz.easypanel.host",
            "user-agent": "uazapiGO-Webhook/1.0",
            "content-length": "2636",
            "accept-encoding": "gzip",
            "content-type": "application/json",
            "x-forwarded-for": "177.234.159.170",
            "x-forwarded-host": "n8n-n8n-start.uvfexz.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "460be1398f88",
            "x-real-ip": "177.234.159.170"
          },
          "params": {},
          "query": {},
          "body": {
            "BaseUrl": "https://nexaflow.uazapi.com",
            "EventType": "messages",
            "chat": {
              "chatbot_agentResetMemoryAt": 0,
              "chatbot_disableUntil": 0,
              "chatbot_lastTriggerAt": 0,
              "chatbot_lastTrigger_id": "",
              "id": "r1f1b7775209b12",
              "image": "",
              "imagePreview": "https://pps.whatsapp.net/v/t61.24694-24/596488790_3188833447962771_6535543022602348144_n.jpg?stp=dst-jpg_s96x96_tt6&ccb=11-4&oh=01_Q5Aa3wFcVcOE_ueazkX5UIaorjqDBJ4viwtCluecTmY4z9xKVA&oe=69A60EB3&_nc_sid=5e03e0&_nc_cat=102",
              "lead_assignedAttendant_id": "",
              "lead_email": "",
              "lead_field01": "",
              "lead_field02": "",
              "lead_field03": "",
              "lead_field04": "",
              "lead_field05": "",
              "lead_field06": "",
              "lead_field07": "",
              "lead_field08": "",
              "lead_field09": "",
              "lead_field10": "",
              "lead_field11": "",
              "lead_field12": "",
              "lead_field13": "",
              "lead_field14": "",
              "lead_field15": "",
              "lead_field16": "",
              "lead_field17": "",
              "lead_field18": "",
              "lead_field19": "",
              "lead_field20": "",
              "lead_fullName": "",
              "lead_isTicketOpen": false,
              "lead_kanbanOrder": 0,
              "lead_name": "",
              "lead_notes": "",
              "lead_personalid": "",
              "lead_status": "",
              "lead_tags": [],
              "name": "Ronilson Noleto",
              "owner": "558699377526",
              "phone": "+55 86 8833-3664",
              "wa_archived": false,
              "wa_chatid": "558688333664@s.whatsapp.net",
              "wa_chatlid": "22699086737457@lid",
              "wa_contactName": "",
              "wa_ephemeralExpiration": 0,
              "wa_fastid": "558699377526:558688333664",
              "wa_isBlocked": false,
              "wa_isGroup": false,
              "wa_isGroup_admin": false,
              "wa_isGroup_announce": false,
              "wa_isGroup_community": false,
              "wa_isGroup_member": false,
              "wa_isPinned": false,
              "wa_label": [],
              "wa_lastMessageSender": "22699086737457@lid",
              "wa_lastMessageTextVote": "Ronilson Noleto 15/10/1997 07032422373 tenho CNH",
              "wa_lastMessageType": "Conversation",
              "wa_lastMsgTimestamp": 1772145905000,
              "wa_muteEndTime": 0,
              "wa_name": "Ronilson Noleto",
              "wa_unreadCount": 23
            },
            "chatSource": "updated",
            "instanceName": "70e421e9-c706-4854-b8b6-59921c48aa60",
            "message": {
              "buttonOrListid": "",
              "chatid": "558688333664@s.whatsapp.net",
              "chatlid": "22699086737457@lid",
              "content": "Ronilson Noleto 15/10/1997 07032422373 tenho CNH",
              "convertOptions": "",
              "edited": "",
              "fromMe": false,
              "groupName": "Unknown",
              "id": "558699377526:2A18ECFFF75D3E00E960",
              "isGroup": false,
              "mediaType": "",
              "messageTimestamp": 1772145905000,
              "messageType": "Conversation",
              "messageid": "2A18ECFFF75D3E00E960",
              "owner": "558699377526",
              "quoted": "",
              "reaction": "",
              "sender": "22699086737457@lid",
              "senderName": "Ronilson Noleto",
              "sender_lid": "22699086737457@lid",
              "sender_pn": "558688333664@s.whatsapp.net",
              "source": "unknown",
              "status": "",
              "text": "Ronilson Noleto 15/10/1997 07032422373 tenho CNH",
              "track_id": "",
              "track_source": "",
              "type": "text",
              "vote": "",
              "wasSentByApi": false
            },
            "owner": "558699377526",
            "token": "40f32a10-40f8-46c4-b59a-583c2d89d123"
          },
          "webhookUrl": "https://n8n-n8n-start.uvfexz.easypanel.host/webhook/e8a937c5-4050-4fd5-a446-c41d6ed31c06",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "sendText3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Atendente": {
      "main": [
        [
          {
            "node": "Busca Telefone",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "UAZAPI Notify Store": {
      "main": [
        [
          {
            "node": "Auto Mover Lead Negociando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Cria Histórico Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Adiciona CHAT supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza CHAT Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Telefone": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CHAT supabase": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza CHAT Supabase": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cria Histórico Supabase": {
      "main": [
        [
          {
            "node": "Delete Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 segundo": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        []
      ]
    },
    "Compara Get Memory1": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Compara Get Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "Agente Rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Audio Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause": {
      "main": [
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reativar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Reativar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Rag": {
      "main": [
        [
          {
            "node": "Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Histórico": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chat_Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Chat_Messages": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Dados Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Dados Cliente": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Chats": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Documentos": {
      "main": [
        [
          {
            "node": "Delete Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Rotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Rotas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEGARLOJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas1": {
      "main": [
        [
          {
            "node": "Pausar IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGARLOJA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "NumeroLojaNoticacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NumeroLojaNoticacao": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        []
      ]
    },
    "sendText3": {
      "main": [
        [
          {
            "node": "1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Base3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base3": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Base2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base2": {
      "main": [
        [
          {
            "node": "Convert to File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File3": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "encaminhar_humano": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6077004c-d42b-41ef-8e96-1515e80e0af7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "3k5ZdsChyjGHFZGG_0R7E",
  "tags": []
}