Workflows N8N/SDR Nexus APP - UAZAPI.json
{
  "name": "SDR Nexus APP",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "1f9cff79-fe43-4bb8-84e2-840ce318d377",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1968,
        1776
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "d9d8ed2e-cc8b-4e82-8d0d-9d6badf445b0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1408,
        1840
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "content": "# Agente IA",
        "height": 80,
        "width": 196,
        "color": 5
      },
      "id": "35ddea8d-1257-4eee-936a-3dc9f8cd55ea",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2336,
        1392
      ]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "9594c948-b43b-42d3-ad0e-9044d7d7d4a2",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1600,
        1792
      ],
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 1084,
        "width": 1860,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        1328
      ],
      "typeVersion": 1,
      "id": "6acbca1e-425a-4d03-a540-ea5e57f21e80",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "id": "57de1bd4-0618-46ae-bcd5-cece21355394",
      "name": "OpenAI3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        4336,
        1888
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a952772b-b40f-4add-9e82-75027b7ef13f",
      "name": "Loop Over Items3",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        4928,
        1712
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "id": "58dbfd24-e8ff-4d38-a240-3dc61625a599",
      "name": "OutputParser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4560,
        1888
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Whatsapp message to be splitted and formated: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={\n  \"messages\": [\n    \"Por favor, gere a saída no seguinte formato JSON: {\\\"messages\\\": [\\\"splitedMessage\\\", \\\"splitedMessage\\\", \\\"splitedMessage\\\"]}\",\n    \"As mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano. Certifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\",\n    \"Jamais separe uma mensagem vazia. Cada mensagem deve ter entre 100 e 300 caracteres, sem cortar informações, pois é uma conversa de chat.\",\n    \"Certifique-se de que a resposta siga exatamente essa estrutura: *negrito* (substitua '**' por '*') não made nada em negrito remova todos '*'; ~tachado~ (caso seja algo excluído/alterado); _itálico_ (extremamente raro).\",\n    \"Tudo o que for link, pode colocar entre \\\"`\\\", ou seja, na seguinte formatação: `www.link.com.br`. Use sempre essa formatação para todos os links.\",\n  ]\n}"
            }
          ]
        }
      },
      "id": "647045d4-6128-414b-bd87-eefa2d58f842",
      "name": "Parser  Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4352,
        1696
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4208,
        1408
      ],
      "typeVersion": 1,
      "id": "ee34f5f8-4192-4006-9329-db243105cff6",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Divisão de Mensagens Inteligente - Texto",
        "height": 80,
        "width": 736,
        "color": 5
      },
      "id": "fefc4373-205f-4cdb-b9f7-1e21c51caff3",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        1424
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2416,
        1968
      ],
      "id": "efcbdff3-89f1-4a53-ae6a-67216f579231",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Mensagem Completa').item.json.mensagem_completa }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"{{ $('PEGARLOJA').item.json.atendente }}\",\n  \"role\": \"SDR automotivo\",\n  \"description\": \"Você é {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }}. Dá boas-vindas com a saudação correta pelo horário e conduz o pré-atendimento de forma natural, simpática e objetiva, sem enrolação. Especialista em carros, sugestões e objeções.\",\n  \"context_variables\": {\n    \"saudacao\": \"{{(() => { const h = $now.hour; if(h < 12) return 'Bom dia'; if(h < 18) return 'Boa tarde'; return 'Boa noite'; })()}}\",\n    \"mensagem_inicial\": \"{{ $input.firstMessage || '' }}\",\n    \"encerramento_dinamico\": \"{{(() => { const h = $now.hour; const d = $now.weekday; if ((d >= 1 && d <= 5 && h >= 8 && h < 18) || (d === 6 && h >= 8 && h < 13)) return 'Um consultor vai já entrar em contato com você.'; return 'Um consultor vai te contatar quando a loja abrir.'; })()}}\"\n  },\n  \"instructions\": [\n    \"Sempre inicie com a saudação pelo horário (use 'saudacao'). Nunca use 'Olá'.\",\n    \"Mensagem inicial: \\\"{{(() => { const h = $now.hour; if(h < 12) return 'Bom dia'; if(h < 18) return 'Boa tarde'; return 'Boa noite'; })()}}! Sou {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }} e farei seu atendimento\\\"\",\n    \"Nunca repita a saudação em mensagens seguintes.\",\n    \"Pergunte o nome apenas se ele ainda não estiver no contexto: \\\"Qual seu nome?..\\\"\",\n    \"Após receber o nome, verifique 'mensagem_inicial'. Se ela indicar modelo/veículo ou anúncio (ex.: 'vim pelo gol'), classifique como COMPRA e vá direto buscar o modelo citado no estoque, sem perguntar a intenção..\",\n    \"Identifique também pedidos por SEGMENTO/CATEGORIA (ex.: 'sedan', 'SUV', 'hatch', 'picape/pickup', 'crossover', 'minivan'). Se o cliente pedir um segmento, vá direto ao estoque e liste as opções desse segmento, sem perguntar preferência de modelo..\",\n    \"Se o cliente pedir 'todos' de um segmento (ex.: 'todos os sedans'), envie em LOTES de até 5 veículos por vez e pergunte se deseja ver mais antes do próximo lote..\",\n    \"Sempre use blocos curtos de até 200 caracteres e finalize cada bloco com. Nunca envie mais de uma pergunta por vez.\",\n    \"Jamais cite ferramentas, sistemas, planilhas, integrações ou tecnologia.\",\n    \"Sempre que precisar apresentar veículos, consultar ficha, preço ou fotos, use exclusivamente o estoque oficial via tool.\",\n    \"Nunca invente carros, versões, valores, imagens ou dados.\",\n    \"Se houver mais de uma versão do modelo solicitado, apresente até 3 (priorize mais novos ou menor km) com frases variadas.\",\n    \"Quando houver várias opções do mesmo modelo, comece com: 'Aqui estão algumas opções que temos:..' e envie cada ficha em bloco separado no padrão visual.\",\n    \"Padrão visual para veículos: 🚙 [Modelo e versão]\\\\n📅 [Ano] | ⛽ [Combustível] | ⚙️ [Câmbio]\\\\n🛣️ [km] | 💰 [Valor]\\\\n🔗 Fotos: [link]\",\n    \"Após apresentar, finalize: 'Se alguma dessas opções te interessou, posso te ajudar com a simulação de compra, troca ou financiamento!'\",\n    \"Se não houver nenhuma versão do modelo pedido, informe positivamente a indisponibilidade e sugira até 2 similares do mesmo segmento/valor.\",\n    \"Se o cliente não gostar das sugestões, diga que um vendedor pode localizar o carro com parceiros credenciados e que será acionado.\",\n    \"Nunca pressione o cliente ou prometa descontos.\",\n    \"Perguntas sobre entrada/parcelas/condições: explique que depende da análise de crédito dos bancos parceiros; alguns pedem entrada, outros não; taxas e prazos variam. Só após a análise é possível simular..\",\n    \"Se o cliente perguntar sobre localização, endereço, horário ou como chegar, responda imediatamente com as informações oficiais da loja (ver 'informacoes_da_loja')..\",\n    \"Os blocos devem ter frases de transição naturais, manter tom humano e visual limpo.\",\n    \"Após a confirmação final do cliente ou conclusão do atendimento, ENCERRAR a conversa chamando OBRIGATORIAMENTE a tool `encaminhar_humano`. A tool nunca deve ser mencionada ao cliente.\"\n  ],\n  \"flow\": [\n    \"Saudação + apresentação: 'Bom dia! Sou {{ $('PEGARLOJA').item.json.atendente }}, da {{ $('Edit Fields1').item.json['Nome da Loja'] }}, e farei seu atendimento !' (adapte pelo horário).\",\n    \"Se nome não estiver no contexto: 'Qual seu nome?'..\",\n    \"Após nome: verifique 'mensagem_inicial'.\",\n    \"   • Se contém referência clara a veículo/anúncio: ir DIRETO ao estoque com o modelo citado e apresentar opções {{ $('Code').item.json.message }}\",\n    \"   • Se contém pedido de SEGMENTO: ir DIRETO ao estoque filtrando pelo segmento solicitado. Se o cliente pedir 'todos', enviar em lotes de até 5 e perguntar se deseja mais\",\n    \"   • Caso contrário: 'Prazer, [Nome]! Como posso te ajudar hoje? Comprar, vender ou trocar?'\",\n    \"Seguir conforme a escolha:\",\n    \"   a) Compra: perguntas sobre modelo, ano, forma de aquisição..\",\n    \"   b) Venda: coletar dados do veículo e fotos\",\n    \"   c) Troca: coletar dados e forma de pagamento da diferença..\",\n    \"   d) Financiamento: coletar nome, nascimento, CPF e CNH\",\n    \"   e) Carta de crédito: coletar valor e banco emissor..\",\n    \"   f) Compra à vista: coletar nome e CPF\",\n    \"Somente após confirmação final, enviar a mensagem de encerramento ao cliente e EM SEGUIDA chamar a tool `encaminhar_humano` para encaminhar o atendimento a um consultor humano.\"\n  ],\n  \"apresentacao_de_veiculos\": [\n    \"Sempre consulte o estoque oficial via tool antes de sugerir veículos. Utilize exclusivamente os dados retornados. {{ $('Code').item.json.message }}\",\n    \"Para SEGMENTO: filtrar pelo tipo solicitado (SUV, Sedan, Hatch, etc.) e apresentar apenas veículos desse tipo. Se o usuário pedir 'todos', enviar em lotes de até 5 veículos e perguntar se deseja ver mais antes de continuar.\",\n    \"Para MODELO específico: apresentar até 3 veículos disponíveis desse modelo, priorizando os mais novos ou com menor preço. {{ $('Code').item.json.message }}\",\n    \"Padrão visual obrigatório para apresentação:\\\\n🚙 *[Nome do veículo]*\\\\n📅 Ano: [Ano]\\\\n🚘 Tipo: [Tipo]\\\\n💰 Valor: [Preço]\\\\n🔗 Fotos e detalhes: https://app.nexuscar.com.br/carro/[id]\",\n  \"Se o modelo solicitado não existir no estoque, informar de forma positiva, nunca inventar ou supor veículos, e sugerir até 2 veículos similares reais do mesmo segmento e faixa de valor, exclusivamente com base no estoque disponível. {{ $('Code').item.json.message }}\",\n    \"Após apresentar as opções, finalize sempre com: *'Se alguma dessas opções te interessou, posso te ajudar com a simulação de compra, troca ou financiamento!'*\"\n  ],\n  \"quebra_de_objeções\": [\n    \"Se o veículo desejado não estiver no estoque:\",\n    \"1️⃣ Informe com empatia: 'No momento não temos esse modelo em estoque..'\",\n    \"2️⃣ Sugira até 2 opções similares reais do mesmo segmento/valor.\",\n    \"3️⃣ Se o cliente não gostar: 'Sem problemas! Nosso time pode localizar o carro com parceiros credenciados. Vou acionar um vendedor para ajudar..'\",\n    \"4️⃣ Nunca deixe o cliente sem alternativa.\"\n  ],\n  \"informacoes_da_loja\": {\n    \"nome\": \" {{ $('Edit Fields1').item.json['Nome da Loja'] }}\",\n    \"endereco\": \"{{ $('PEGARLOJA').item.json.endereco }} \",\n    \"resposta_padrao\": \"📍 {{ $('Edit Fields1').item.json['Nome da Loja'] }} -{{ $('PEGARLOJA').item.json.endereco }}  \\\\n🏢  Teresina – PI\\\\n\"\n  },\n  \"tools\": [\n    {\n      \"name\": \"estoque_de_carros\",\n      \"description\": \"Retorna exclusivamente o estoque real e atualizado de veículos da loja. A IA nunca deve inventar modelos, apenas usar exatamente os veículos fornecidos por este tool.\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {}\n      }\n    },\n    {\n      \"name\": \"encaminhar_humano\",\n      \"arguments\": {\n        \"resumo\": \"📢 Novo atendimento iniciado. Cliente interessado em veículos e aguardando contato.\"\n      }\n    }\n  ],\n  \"tool_responses\": {\n    \"estoque_de_carros\": \"{{ $('Code').item.json.message }}\"\n  },\n  \"encerramento\": [\n    \"'Um consultor vai já entrar em contato com você.'\"\n  ],\n  \"rules\": [\n    \"Nunca repita a saudação.\",\n    \"Nunca use 'Olá'.\",\n    \"Nunca envie mais de uma pergunta por vez.\",\n    \"Adapte o tom conforme o cliente.\",\n    \"Nunca cite robô/IA/ferramentas/tecnologia.\",\n    \"Sempre consulte o estoque oficial; jamais invente dados.\",\n    \"Máximo de 2 blocos no resumo final: ficha + confirmação.\",\n    \"sempre finalize a conversa com `Um consultor vai já entrar em contato com você.`\"\n  ]\n}"
        }
      },
      "id": "8bc45339-b00c-4edf-8291-805dba721f22",
      "name": "Atendente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        2480,
        1520
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json.Telefone }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2592,
        1952
      ],
      "id": "65ca0cee-d9cb-4c58-a87e-66733ea3726a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "338201",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "2aa763f7-cf04-44e7-9bbb-8f8de823aef8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar na IA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "820760d6-3546-4007-8917-55d366a74261",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "338201",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Avisar Lead grupo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3392,
        1600
      ],
      "id": "7a8fdc51-7343-4b22-ab74-7604eaa66cc1",
      "name": "Switch2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        5008,
        2352
      ],
      "id": "a4a1e25d-2b7e-40a9-a9c2-48f3b85c8408",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 400,
        "width": 1620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4208,
        2064
      ],
      "typeVersion": 1,
      "id": "1d7efd23-776d-4c54-8368-5b24f890e4f1",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# AVISAR NOVO LEAD NO GRUPO",
        "height": 80,
        "width": 656,
        "color": 5
      },
      "id": "5857183a-60d0-4518-8711-df0233c8176e",
      "name": "Sticky Note45",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        2096
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4288,
        2192
      ],
      "id": "2a54d880-70a8-4005-bd46-e72f57139e8f",
      "name": "UAZAPI Send Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('PEGARLOJA').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ (() => { \n  const telefone = $('Dados').item.json.Telefone;\n  return '🚨 Novo Lead: wa.me/' + telefone.split('@')[0] + ' 🚨';\n})() }}\n\n*Cliente:* {{ $('Dados').item.json.NomeWpp }}\n\n*CASO:*\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        5376,
        2192
      ],
      "id": "b77431a7-f5ca-4b85-813b-c5f9d787dfad",
      "name": "UAZAPI Notify Store"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "crm_status",
              "fieldValue": "negociando"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5600,
        2192
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Auto Mover Lead Negociando",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        4928,
        1152
      ],
      "id": "c087d717-fe4a-4492-b12f-e01aa4208be2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "defac08a-6745-422b-bb05-90da9f47d91b",
              "leftValue": "={{ $('Busca Telefone').last().json.values() }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4432,
        1152
      ],
      "id": "e590146e-af77-41f5-8c39-620df92ad0df",
      "name": "If4"
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4208,
        1008
      ],
      "typeVersion": 1,
      "id": "d5f587a0-709c-4ed8-ad2a-d9a0e08fed88",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Cadastra Chat Supabase",
        "height": 80,
        "width": 450,
        "color": 5
      },
      "id": "6a4d9085-468f-4c1f-87e3-e25dc7d1da5c",
      "name": "Sticky Note55",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4240,
        1024
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4272,
        1152
      ],
      "id": "37d431d7-5e12-40ec-b5c1-cb1f4f8c8011",
      "name": "Busca Telefone",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "chats",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4720,
        1056
      ],
      "id": "c2b82cd9-1bf9-42e4-9936-b354468c4024",
      "name": "Adiciona CHAT supabase",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "chats",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "updated_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4736,
        1232
      ],
      "id": "b173c78e-aeee-4d96-ad0a-0bd0c8ebc564",
      "name": "Atualiza CHAT Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "tableId": "chat_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "bot_message",
              "fieldValue": "={{ $('Atendente').item.json.output }}"
            },
            {
              "fieldId": "user_message",
              "fieldValue": "={{ $('Dados').item.json.message.content }}"
            },
            {
              "fieldId": "message_type",
              "fieldValue": "={{ $('Dados').item.json.body.event }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Dados').item.json.NomeWpp }}"
            },
            {
              "fieldId": "whatsapp_id",
              "fieldValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5136,
        1152
      ],
      "id": "0fe9aec3-a05a-4681-b275-f86f77058996",
      "name": "Cria Histórico Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.messages",
        "options": {
          "destinationFieldName": "output"
        }
      },
      "id": "c6b0b23c-a211-45cc-8547-a7532558b1db",
      "name": "Split de Mensagem",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4720,
        1712
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "fde248f7-2f38-4a43-9ec4-e3d3a671c465",
      "name": "1 segundo",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5472,
        1728
      ],
      "webhookId": "bcb24fcd-e695-4aca-9c11-a806aad06575"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Dados').item.json.Telefone }}"
      },
      "id": "1c7411b8-965b-4b44-8152-eb94e0a81763",
      "name": "Delete Memory",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5328,
        1152
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_documentos",
        "description": "Analise o documento se encontrar uma informação que seja relevante traga o texto dele como resposta sem alterações, caso não encontre devolva o resultado em branco sem nem um texto",
        "topK": 2
      },
      "id": "4abbb8bb-8283-41fc-9a9a-7adf0fd1bb96",
      "name": "buscar_documentos",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1728,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_messages",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "keyName": "active",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4448,
        2192
      ],
      "id": "7f63ff22-b6ff-4ab2-99dc-1f51924b1476",
      "name": "ListMessages-Supabase2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "conversas",
        "include": "specifiedFields",
        "fieldsToInclude": "id,message_type,created_at,user_message, bot_message,phone",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4656,
        2192
      ],
      "id": "18b3b95b-d3fe-4020-b7f9-3a48bd2a1241",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "jsCode": "return $('Aggregate2').all().map(item => {\n  // Tenta acessar a propriedade 'conversas' e verifica se ela é um array\n  const conversas = item.json.conversas || []; // Garante que é pelo menos um array vazio\n\n  if (!Array.isArray(conversas)) {\n    throw new Error(\"A propriedade 'conversas' não é um array.\");\n  }\n\n  // Processa cada conversa e verifica as mensagens\n  const textoUnico = conversas.map(conversa => {\n    const cliente = conversa.user_message || \"sem mensagem do chatbot\";\n    const agente = conversa.bot_message || \"sem resposta\";\n    \n    // Verifica se a data existe e formata\n    const dataOriginal = conversa.created_at || \"Data da Mensagem indisponível\";\n    const dataFormatada = dataOriginal !== \"Data da Mensagem indisponível\"\n      ? formatarData(dataOriginal)\n      : dataOriginal;\n\n    return `em: ${dataFormatada}\\n\\n - agente(chatbot): ${agente} \\n - cliente: ${cliente}\\n`;\n  }).join('\\n\\n');\n\n  // Retorna o texto final como resultado\n  return {\n    json: {\n      texto: textoUnico\n    }\n  };\n});\n\n// Função para formatar a data\nfunction formatarData(dataString) {\n  const data = new Date(dataString); // Converte a string em objeto Date\n  if (isNaN(data)) {\n    return \"Data inválida\"; // Retorna se a data não for válida\n  }\n  \n  // Formata no padrão DD/MM/YYYY HH:mm\n  const dia = String(data.getDate()).padStart(2, '0');\n  const mes = String(data.getMonth() + 1).padStart(2, '0'); // Mês começa em 0\n  const ano = data.getFullYear();\n  const horas = String(data.getHours()).padStart(2, '0');\n  const minutos = String(data.getMinutes()).padStart(2, '0');\n  \n  return `${dia}/${mes}/${ano} ${horas}:${minutos}`;\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        2192
      ],
      "id": "dc9324f6-2eec-49a2-aefb-488ec95b5cbc",
      "name": "Code6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"role\": \"Agente Resumidor de atendimento\",\n  \"proposito\": \"Analisar conversas cliente-agente e criar resumos detalhados do atendimento\",\n  \"instrucoes\": {\n    \"tarefa_principal\": \"Extrair e resumir apenas sobre o atendimento do cliente a partir das conversas\",\n    \"formato\": \"Incluir data da sessão quando disponível\",\n    \"foco\": \"demandas do cliente, excluir respostas do agente\",\n    \"estilo\": \"Resumos detalhados mas concisos\",\n    \"evitar\": \"Dicas de uso, informações extras ou explicações\",\n    \"Me de o resultado somente com o resumo sem caracteres especiais\"\n  },\n  \"formato_entrada\": {\n    \"conversa\": \"{{ $json.texto }}\"\n  },\n  \"formato_saida\": {\n    \"resumo\": \"Descrição concisa do caso do cliente e data que ele gostaria de agendar uma rerunião\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        5040,
        2192
      ],
      "id": "6a7b4f61-d441-428b-bcdc-c1a8b7ce7948",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3680,
        1760
      ],
      "id": "032d1cd3-71f3-40e8-9d85-09b3e167cab3",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a6d9aac-8565-4c58-abe3-8741393a5535",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3456,
        1744
      ],
      "id": "80e3ca69-1acf-4614-900d-82fd0196664f",
      "name": "If1"
    },
    {
      "parameters": {
        "tableId": "dados_cliente",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nomewpp",
              "fieldValue": "={{ $('Dados').item.json.NomeWpp }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now}}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "fieldId": "whatsapp_id",
              "fieldValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3248,
        1856
      ],
      "id": "e6fb91f1-9a70-4f3e-9c47-1179653536db",
      "name": "Supabase1",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 980,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1376
      ],
      "typeVersion": 1,
      "id": "3ceaffd5-dad1-4858-92da-5996ccb648d6",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "",
        "height": 660,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1344
      ],
      "typeVersion": 1,
      "id": "08ae5c21-1e0e-41b6-9273-f8e63e5a49b5",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3744,
        1584
      ],
      "typeVersion": 1,
      "id": "c207ed67-5501-410b-8d96-f0699bbbb446",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "# Cadastrar Lead Supa Base",
        "height": 80,
        "width": 596,
        "color": 4
      },
      "id": "57446cb2-949b-4444-a714-1767c519ade5",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3744,
        1488
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 1120,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1872,
        1520
      ],
      "typeVersion": 1,
      "id": "282d5e38-d120-4290-949b-fa82cc17d6ea",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        368
      ],
      "typeVersion": 1,
      "id": "f758d307-5bcc-4f5a-b590-e34afd9d7e00",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        -32
      ],
      "typeVersion": 1,
      "id": "407e0803-4daa-4100-a411-9122629c7b3c",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        368
      ],
      "typeVersion": 1,
      "id": "c3547511-4807-4f90-92e5-c0b66fd2a380",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e8a937c5-4050-4fd5-a446-c41d6ed31c06",
        "options": {}
      },
      "id": "ed954d60-021a-42de-9cd4-33186963a483",
      "name": "Webhook EVO",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4400,
        1776
      ],
      "webhookId": "e8a937c5-4050-4fd5-a446-c41d6ed31c06"
    },
    {
      "parameters": {
        "content": "# Pausar IA",
        "height": 80,
        "width": 216,
        "color": 4
      },
      "id": "810b8a6b-f8ba-4dcf-8976-f33caeddb128",
      "name": "Sticky Note41",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1872,
        1520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text,\n  atendimento_ia text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        272,
        -16
      ],
      "id": "ae107faf-78a6-4a23-a981-a458ac021e50",
      "name": "Cria Tabela Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1312,
        0
      ],
      "id": "14ac08bf-caf0-4e4a-bfcb-796ba3725ad0",
      "name": "Cria Tabela Documentos",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from documents",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1040,
        384
      ],
      "id": "6432d076-b981-48f4-8594-396636017549",
      "name": "Deleta Conteúdo Documentos",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -32
      ],
      "typeVersion": 1,
      "id": "91f8738f-2248-40f2-9edc-aceb6868d6e2",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -32
      ],
      "typeVersion": 1,
      "id": "7037a2a0-0150-434b-a316-0fda927825f7",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -32
      ],
      "typeVersion": 1,
      "id": "8148511b-8ba3-4180-a6e4-1dc5d38676ae",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -32
      ],
      "typeVersion": 1,
      "id": "2d745b26-72c7-4e0a-b940-23c0b149b92a",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        368
      ],
      "typeVersion": 1,
      "id": "42bd3cdd-717f-4789-9e2e-07b4dca22e92",
      "name": "Sticky Note56"
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -32
      ],
      "typeVersion": 1,
      "id": "d26a6236-fc29-4bef-a492-3bde48b092f3",
      "name": "Sticky Note57"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_chat_histories",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -16,
        384
      ],
      "id": "b7f051dd-9586-448f-9147-e879fa34c3c3",
      "name": "Deleta Histórico",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1056,
        -16
      ],
      "id": "0d1db6fd-657d-4380-abef-0eba8f1466c7",
      "name": "Cria função Busca em Vetor",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create extension vector;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        -16
      ],
      "id": "d1e6f208-e63a-4e33-8401-38c4c8887b95",
      "name": "Cria Extensão Vetor",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "create table chats (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  phone text,\n  updated_at text\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        528,
        -16
      ],
      "id": "e69c3f3a-1eb1-477a-9eda-0f9630aecadb",
      "name": "Cria Tabela Chats",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        368
      ],
      "typeVersion": 1,
      "id": "3d079264-f4b7-4502-8c8f-9f2d3c87faa3",
      "name": "Sticky Note65"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chats",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        384
      ],
      "id": "f9b840c5-6621-4b7b-812d-5d55c50b9d9b",
      "name": "Deleta Conteúdo Chats",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from dados_cliente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        512,
        384
      ],
      "id": "4e67dc8e-a43d-44d4-88c6-6be3f830b4d2",
      "name": "Deleta Conteúdo Dados Cliente",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        368
      ],
      "typeVersion": 1,
      "id": "9788d301-88d3-4c04-9eef-598b33d998dd",
      "name": "Sticky Note66"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from chat_messages",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        256,
        384
      ],
      "id": "c406472b-ccc7-4487-8ae6-fde1ecd063f0",
      "name": "Deleta Conteúdo Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "TOlI2c0FRocW8Oak",
          "name": "Postgres Orthanc"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE chat_messages (\n  id BIGSERIAL PRIMARY KEY,\n  created_at TIMESTAMPTZ, \n  phone TEXT,\n  nomewpp TEXT, \n  bot_message TEXT,\n  user_message TEXT, \n  message_type TEXT,\n  active BOOLEAN DEFAULT TRUE\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        0,
        -16
      ],
      "id": "92fa5374-9ead-4a72-b70c-a0e98fc07b0c",
      "name": "Cria Tabela Chat_Messages",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4448,
        1584
      ],
      "typeVersion": 1,
      "id": "774dcf44-8288-4f6c-ad41-14ecc9efad5d",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "content": "## WEBHOOK & ROTAS",
        "height": 80,
        "width": 276,
        "color": 4
      },
      "id": "4b68549d-92a1-46c9-be93-179280d5176a",
      "name": "Sticky Note67",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4400,
        1648
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.png",
          "mimeType": "image/png"
        }
      },
      "id": "28ec95d1-d6a5-4440-8525-786d7b327781",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -400,
        1856
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a77698f1-8427-4a54-bab9-670d67870862",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        1856
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ade56c50-1520-4760-8df5-e99617d6d3ad",
              "leftValue": "={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0c257060-1ca1-4558-a18f-365b6b9f7739",
      "name": "If3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -64,
        1856
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $('Dados').item.json.message.content }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "fb63cb3e-dc42-4350-860d-74d6629e5584",
      "name": "Redis4",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        1872
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}",
        "tail": true
      },
      "id": "668bc37c-3669-4605-96ce-808705619b9b",
      "name": "Redis5",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        1696
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52aaf749-fe4f-44e4-880e-15b2bfc027f1",
                    "leftValue": "={{ $json.body.message?.type }}",
                    "rightValue": "extendedTextMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e514e613-fd6a-48bd-b0ae-bae2448c810e",
                    "leftValue": "={{ $json.body.message?.type }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message?.type }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c0e434dd-1268-421d-b81b-3a5e90ed9550",
                    "leftValue": "={{ $json.body.message?.type }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "cd19fa49-07eb-426a-a6d9-74aa27813f21",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -640,
        1616
      ]
    },
    {
      "parameters": {
        "content": "# Mensagem Picotada",
        "height": 80,
        "width": 396,
        "color": 4
      },
      "id": "774a705e-fc29-4f4d-ab3e-403514d53467",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        1376
      ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Analise a imagem e me traga um resumo simples e o mais curto possível do que ela é",
        "inputType": "base64",
        "options": {}
      },
      "id": "97c7fa4a-241e-4824-80f1-55b42fdf0fc6",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -240,
        1856
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d5a342e9-585b-42ea-be44-644adae10199",
              "leftValue": "={{ $json.Redis2 }}",
              "rightValue": "={{ $json.Redis1 }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ca1eb74-9b46-4530-8b1a-dce6d23f2205",
      "name": "Compara Get Memory1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1632
      ]
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $('Dados').item.json.message.content }}",
        "tail": true
      },
      "id": "584542e3-05d9-46d8-a919-ecd81d7d6c46",
      "name": "Text Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        1376
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Dados').item.json.Telefone }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "id": "acb04ed3-f6d4-4f62-a3fa-bfb693205e2a",
      "name": "Audio Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        1536
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f336a1ff-e577-489d-a739-1eb8bd509245",
              "name": "Redis2",
              "value": "={{ $json.propertyName }}",
              "type": "string"
            },
            {
              "id": "946d1420-e379-46e3-8fcd-3816340fbabb",
              "name": "Redis1",
              "value": "={{ $('Get Memory 1').item.json.propertyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "635c9a1f-a18a-476f-8ac1-b33615892db9",
      "name": "Edit Fields8",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        1632
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "363c9707-8fa9-4f97-9000-ad944d68b450",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1632
      ],
      "webhookId": "caca9217-3966-41e5-bb09-da71bd465af1"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.Telefone }}",
        "options": {}
      },
      "id": "1bbf8248-0c0d-4981-a7ef-026c03346a59",
      "name": "Get Memory 1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        416,
        1632
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Dados').item.json.Telefone }}",
        "options": {}
      },
      "id": "6fe5a084-bafb-4a77-a108-7174b4b52509",
      "name": "Get Memory 2",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        720,
        1632
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Filtro de mensagem",
        "height": 80,
        "width": 356,
        "color": 4
      },
      "id": "93894d60-0830-4359-8835-0c033384c63e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const redis1 = JSON.parse($json.Redis1);\nconst redis2 = JSON.parse($json.Redis2);\n\nconst combinadoSemDuplicatas = Array.from(new Set([...redis1, ...redis2]));\n\nconst mensagem = combinadoSemDuplicatas.join(\" \");\n\nreturn [{ json: { mensagem_completa: mensagem } }];"
      },
      "id": "9fd70b69-420e-47ed-8cb6-8baab6904368",
      "name": "Mensagem Completa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "application/ogg"
        }
      },
      "id": "b93cb2c2-b408-4334-a4b7-d9bb748a1e12",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -256,
        1648
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655",
              "name": "data",
              "value": "={{ $('Webhook EVO').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f36a50a-87f4-451a-83e5-9319182d5657",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        1648
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "9c7dce53-e1c2-4a1f-8edd-df24b6b0421a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -80,
        1648
      ],
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "content": "# Ferramentas para criar\n\n",
        "height": 80,
        "width": 456,
        "color": 4
      },
      "id": "16a327eb-a1a1-4e00-b54d-57e3498cf21b",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        -144
      ]
    },
    {
      "parameters": {
        "content": "# Ferramentaspara apagar\n\n",
        "height": 80,
        "width": 496,
        "color": 3
      },
      "id": "f5e24cd7-816a-4dbc-a1e2-dcc7c06f263a",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        272
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1504,
        1552
      ],
      "id": "a2ff25c2-edd6-4692-85dd-372f40db80c0",
      "name": "Pausar IA",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1776,
        1872
      ],
      "id": "cd2a0cda-30cb-4855-90fd-4d8e8b4ff197",
      "name": "Verificar Pause",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "ff00573b-e517-43c6-8644-14a4fe8565d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia Ativa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.atendimento_ia }}",
                    "rightValue": "pause",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ia pausada"
            }
          ]
        },
        "options": {}
      },
      "id": "983b3936-4b18-42f3-a50e-59e234487b5e",
      "name": "Rota Atendimento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1600,
        1872
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "reativada"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1328,
        1712
      ],
      "id": "82776add-a3f2-4044-99be-371c939765da",
      "name": "Reativar IA",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1504,
        1712
      ],
      "id": "795cd9a5-4373-4e19-bfb7-9b73eb8b64c6",
      "name": "Wait",
      "webhookId": "d5e0fd93-52aa-4fb1-89ee-7eb8c16f93cc"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"ai\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -944,
        1840
      ],
      "id": "c26d7a4b-c9b6-4982-aa74-2df567eb7eb5",
      "name": "Salvar Historicoo Humano1",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1440,
        1664
      ],
      "id": "6fc06f75-b813-4122-96bd-e34871c19dad",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "FXSRH1xyH4a59Tu2",
          "name": "OpenAi VAl DOCES"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem_completa }}",
        "options": {
          "systemMessage": "={\n  \"name\": \"AgenteRag\",\n  \"objectives\": [\n    \"Responder somente com dados obtidos da ferramenta buscar_documentos, sem dicas extras\"\n  ],\n  \"tools\": [\n    {\n      \"name\": \"buscar_documentos\",\n      \"description\": \"Use esta ferramenta para obter a resposta. Se não houver dados, retorne: não invente resposta somente do que vier da tool buscar_documentos'.\",\n      \"required\": true\n    }\n  ],\n  \"general_rules\": [\n    \"Não inventar respostas\",\n    \"Sempre usar a ferramenta buscar_documentos\",\n    \"caso não tenha uma resposta envie a resposta assim: sem dica de resposta\"\n  ]\n}\n"
        }
      },
      "id": "f72484b0-31ab-4e44-9e7e-a551fccf3775",
      "name": "Agente Rag",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1440,
        1472
      ]
    },
    {
      "parameters": {
        "content": "# Agente RAG",
        "height": 80,
        "width": 336,
        "color": 4
      },
      "id": "c35f385c-c1f7-41ee-b4c9-c290534b068b",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        1376
      ]
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -176
      ],
      "typeVersion": 1,
      "id": "c1559599-7571-4d34-9861-82668b4c9322",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "",
        "height": 380,
        "width": 1680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        224
      ],
      "typeVersion": 1,
      "id": "1b6d7535-3850-468d-bdd5-435142dee8fb",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1376,
        1376
      ],
      "typeVersion": 1,
      "id": "8ca9a74b-08e2-486c-83ce-92a2086af363",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Dados').item.json.Telefone }}",
            "message": "={\"type\": \"human\", \"content\": \"{{ $('Rotas').item.json.message.content.replace(/\\n/g, ' ') }}\", \"additional_kwargs\": {}, \"response_metadata\": {}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1008,
        1552
      ],
      "id": "1aab7070-212f-4d1e-b7b5-5b62f502e36d",
      "name": "Salvar Historicoo Humano",
      "credentials": {
        "postgres": {
          "id": "FzcAy0oujOGp6Ek2",
          "name": "Postgres Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        5616,
        2192
      ],
      "id": "762c6d0e-955c-4899-ba70-14df8eccfa05",
      "name": "Pausar IA1",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=5511985636392@s.whatsapp.net"
      },
      "id": "924088e5-1a1b-4ea1-91bd-c019a43f8e0b",
      "name": "Delete Memory1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1328,
        416
      ],
      "credentials": {
        "redis": {
          "id": "JutOJld0uE6IGIxo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('PEGARLOJA').item.json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $json.resumo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2752,
        1968
      ],
      "id": "adb2c303-22f5-47f7-a30d-036f3d4e8b71",
      "name": "encaminhar_humano"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11800d83-ecca-4f9c-a878-a2419db0c8e9",
              "name": "message.chat_id",
              "value": "={{ $json.body.chat.wa_chatid || '' }}",
              "type": "string"
            },
            {
              "id": "c33f9527-e661-49e5-8e5e-64f3b430928a",
              "name": "message.content_type",
              "value": "={{ $json.body.message?.text ? 'text' : ($json.body.message?.mediaType || 'unknown') }}",
              "type": "string"
            },
            {
              "id": "06eba1c9-cff0-4f68-b6da-6bb0092466b7",
              "name": "message.content",
              "value": "={{ $json.body.message?.text || $json.body.message?.content || '' }}",
              "type": "string"
            },
            {
              "id": "b97f1af3-5361-46fc-9303-d644921231d8",
              "name": "message.timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "8b01a818-a456-476e-bace-adefe2f04eb4",
              "name": "message.event",
              "value": "={{ $json.body.message?.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "d04a0c6e-7842-41d2-bdb0-c0ce51d6dad7",
              "name": "Telefone",
              "value": "={{ $json.body.chat?.wa_chatid || $json.body.message?.chatid || '' }}",
              "type": "string"
            },
            {
              "id": "a57db642-3e13-452e-bb5b-19f7e9f3bd5d",
              "name": "NomeWpp",
              "value": "={{ $json.body.chat?.wa_name || $json.body.message?.senderName || $json.body.chat?.name || '' }}",
              "type": "string"
            },
            {
              "id": "98f1a2a5-94db-4530-831a-1d0cf8cb56d5",
              "name": "uazDomain",
              "value": "https://nexaflow.uazapi.com",
              "type": "string"
            },
            {
              "id": "1cc7912e-a60e-4550-8e73-6eae6ae2d99e",
              "name": "uazInstance",
              "value": "={{ $json.body.instanceName }}",
              "type": "string"
            },
            {
              "id": "a3f4aeee-b954-4aac-8889-52613691aca3",
              "name": "uazToken",
              "value": "={{ $json.body.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dc8fdd23-dcda-466d-accb-5cbaa77824b2",
      "name": "Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4192,
        1792
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7c878f9b-2c93-4061-954a-a832153e7647"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $('Dados').item.json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "1f94a7f5-7467-4d93-bb0d-d308deb60090",
      "name": "Switch6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -2912,
        1728
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Um consultor vai já entrar em contato com você."
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA Pausada"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $('Rotas').item.json.message.content }}",
                    "rightValue": "Atendimento finalizado"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reativar IA"
            }
          ]
        },
        "options": {}
      },
      "id": "9b98ddb5-c750-44c4-9534-dc1098949202",
      "name": "Rotas1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1712,
        1696
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5922557b-71e7-4390-af21-10b683e7a875",
                    "leftValue": "={{ $json.Telefone }}",
                    "rightValue": "={{ $('Webhook EVO').item.json.body.chat.wa_chatid }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Numero pessoal "
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "9865cb5b-33da-490c-afc3-186457d5b564",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "TreinoIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rota normal"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5a9a1fee-b408-469f-a08c-e8d690fc9792",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "leftValue": "={{ $json.message.content }}",
                    "rightValue": "TreinoIA1212:"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Treinamento IA"
            }
          ]
        },
        "options": {}
      },
      "id": "9ecde979-6007-4cad-b24c-8f59a0fb1ed2",
      "name": "Rotas",
      "type": "n8n-nodes-base.switch",
      "position": [
        -4000,
        1776
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Dados').item.json.Telefone }}"
            },
            {
              "name": "delay",
              "value": "={{ 300 }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e90ea42d-bb3b-4be9-84e9-f31c9691f858",
      "name": "sendText3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5216,
        1728
      ],
      "retryOnFail": false,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "store_settings",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2752,
        1872
      ],
      "id": "5ceb6f60-41e5-4b84-a273-103ec474dabd",
      "name": "PEGARLOJA",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cf36839-1585-45e4-94b9-e963612bf678",
              "name": "Nome da Loja",
              "value": "={{ $json.store_name }}",
              "type": "string"
            },
            {
              "id": "d444acad-1f4f-482a-99c6-dc65c1743c93",
              "name": "Abertura",
              "value": "={{ $json.open_time }}",
              "type": "string"
            },
            {
              "id": "520a2825-6e6a-42ca-8ba7-12ba7d93ca93",
              "name": "Fehamento",
              "value": "={{ $json.close_time }}",
              "type": "string"
            },
            {
              "id": "e7e785ec-374d-4900-b7fe-dda175bc5aed",
              "name": "Mensagem de audeencias",
              "value": "={{ $json.business_hours_message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2576,
        1872
      ],
      "id": "85464f78-e100-4138-84e0-8d7d9c1feace",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "estoque",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $('Dados').item.json.uazInstance }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2192,
        1872
      ],
      "id": "ae0b9ce1-82e8-4dc6-b1ce-ef36cff0e1eb",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const cars = items.map(item => item.json);\n\n// formata preço\nfunction formatPrice(v) {\n  return Number(v).toLocaleString(\"pt-BR\", {\n    style: \"currency\",\n    currency: \"BRL\",\n  });\n}\n\n// helpers para campos opcionais\nfunction formatMileage(v) {\n  if (!v) return \"Não informado\";\n  return `${Number(v).toLocaleString(\"pt-BR\")} km`;\n}\n\nfunction formatText(v) {\n  return v ? v : \"Não informado\";\n}\n\n// monta mensagem\nlet message = \"🚗 *Lista de Veículos Disponíveis*\\n\\n\";\n\ncars.forEach((car) => {\n  const link = `https://app.nexuscar.com.br/carro/${car.id}`;\n\n  message += `🔹 *${car.name?.trim()}* (${car.year})\\n`;\n  message += `   • Modelo: ${formatText(car.model)}\\n`;\n  message += `   • Tipo: ${formatText(car.type)}\\n`;\n  message += `   • Quilometragem: ${formatMileage(car.mileage)}\\n`;\n  message += `   • Combustível: ${formatText(car.fuel)}\\n`;\n  message += `   • Câmbio: ${formatText(car.transmission)}\\n`;\n  message += `   • Status: ${formatText(car.status)}\\n`;\n  message += `   • Preço: ${formatPrice(car.price)}\\n`;\n  message += `   • 📸 Fotos e detalhes: ${link}\\n\\n`;\n});\n\n// ---- RETORNO CORRETO PARA O POSTGRES CHAT MEMORY ---- //\nreturn [\n  {\n    json: {\n      message,\n    },\n    pairedItem: {\n      item: 0\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        1872
      ],
      "id": "e350cc1b-ea77-41fb-8674-f787378ef86c",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Número vindo do node PEGARLOJA\nlet numero = $('PEGARLOJA').first().json.numero;\n\nif (!numero) {\n  throw new Error('Número não encontrado');\n}\n\n// Remove tudo que não for número\nnumero = numero.replace(/\\D/g, '');\n\n// Remove zero inicial\nif (numero.startsWith('0')) {\n  numero = numero.substring(1);\n}\n\n// Adiciona código do país (Brasil)\nif (!numero.startsWith('55')) {\n  numero = '55' + numero;\n}\n\n// Validação básica (55 + DDD + 8 ou 9 dígitos)\nif (numero.length < 12 || numero.length > 13) {\n  throw new Error('Número inválido para Evolution');\n}\n\n// Monta o remoteJid\nconst remoteJid = `${numero}@s.whatsapp.net`;\n\nreturn {\n  numero_formatado: numero,\n  remoteJid\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        1872
      ],
      "id": "bd2340f5-7a6f-47a4-ba2f-35953dcf540a",
      "name": "NumeroLojaNoticacao"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73877b45-ae75-4629-b976-fde0dc4e7056",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Um consultor vai já entrar em contato com você",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2912,
        1888
      ],
      "id": "80f84eee-04c4-4857-91ab-5119042d302b",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Dados').item.json.uazDomain }}/message/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $('Dados').item.json.uazToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('NumeroLojaNoticacao').item.json.numero_formatado }}"
            },
            {
              "name": "text",
              "value": "=Novo Lead - {{ $('Dados').item.json.NomeWpp }} "
            },
            {
              "name": "linkPreview",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3344,
        1872
      ],
      "id": "9ed04aaf-4146-4a47-86bf-167a385c638a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "dados_cliente",
        "filters": {
          "conditions": [
            {
              "keyName": "telefone",
              "condition": "eq",
              "keyValue": "={{ $('Dados').item.json.Telefone }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "atendimento_ia",
              "fieldValue": "pause"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3152,
        1872
      ],
      "id": "7ba1aeb6-8bc8-49eb-a175-1192347fdf48",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "QgLbykTuIu22HYo2",
          "name": "Supabase Nexus"
        }
      }
    }
  ],
  "pinData": {
    "Webhook EVO": [
      {
        "json": {
          "headers": {
            "host": "webhook.linqapps.com",
            "user-agent": "axios/1.13.2",
            "content-length": "1489",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.linqapps.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0c0def0db5f1",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "7c7e4b23-3c7e-4d1a-9c16-1ca47c639da7",
            "data": {
              "key": {
                "remoteJid": "558698169840@s.whatsapp.net",
                "remoteJidAlt": "558698169840@s.whatsapp.net",
                "fromMe": false,
                "id": "3A44F5F80C0FBE3A9083",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Icaro Wuandson",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Icaro Sousa 222.222.788.98",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 89,
                      "1": 7,
                      "2": 172,
                      "3": 125,
                      "4": 213,
                      "5": 151,
                      "6": 126,
                      "7": 233,
                      "8": 4,
                      "9": 49
                    },
                    "senderTimestamp": {
                      "low": 1766091891,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 104,
                      "1": 131,
                      "2": 167,
                      "3": 20,
                      "4": 81,
                      "5": 185,
                      "6": 45,
                      "7": 199,
                      "8": 18,
                      "9": 110
                    },
                    "recipientTimestamp": {
                      "low": 1766004439,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 251,
                    "1": 247,
                    "2": 31,
                    "3": 34,
                    "4": 186,
                    "5": 85,
                    "6": 145,
                    "7": 173,
                    "8": 193,
                    "9": 176,
                    "10": 38,
                    "11": 154,
                    "12": 246,
                    "13": 237,
                    "14": 224,
                    "15": 87,
                    "16": 249,
                    "17": 45,
                    "18": 79,
                    "19": 106,
                    "20": 51,
                    "21": 251,
                    "22": 174,
                    "23": 108,
                    "24": 199,
                    "25": 3,
                    "26": 2,
                    "27": 29,
                    "28": 128,
                    "29": 182,
                    "30": 196,
                    "31": 84
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1766096629,
              "instanceId": "3b3aeaa5-3df8-41d5-a529-19091aca17bf",
              "source": "ios"
            },
            "destination": "https://webhook.linqapps.com/webhook/e8a937c5-4050-4fd5-a446-c41d6ed31c06",
            "date_time": "2025-12-18T19:23:49.504Z",
            "sender": "558699377526@s.whatsapp.net",
            "server_url": "https://evo.linqapps.com",
            "apikey": "55FC243B-C841-4B51-B8A6-32028509CE49"
          },
          "webhookUrl": "https://webhook.linqapps.com/webhook/e8a937c5-4050-4fd5-a446-c41d6ed31c06",
          "executionMode": "production"
        }
      }
    ],
    "Agente Rag": [
      {
        "json": {
          "output": "sem dica de resposta"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "buscar_documentos",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "ai_languageModel": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "sendText3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser1": {
      "ai_outputParser": [
        [
          {
            "node": "Parser  Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser  Chain": {
      "main": [
        [
          {
            "node": "Split de Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Atendente": {
      "main": [
        [
          {
            "node": "Busca Telefone",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Atendente",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Parser  Chain",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "UAZAPI Notify Store": {
      "main": [
        [
          {
            "node": "Auto Mover Lead Negociando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API1": {
      "main": [
        [
          {
            "node": "ListMessages-Supabase2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Cria Histórico Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Adiciona CHAT supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza CHAT Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Telefone": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adiciona CHAT supabase": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza CHAT Supabase": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cria Histórico Supabase": {
      "main": [
        [
          {
            "node": "Delete Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split de Mensagem": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1 segundo": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_documentos": {
      "ai_tool": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ListMessages-Supabase2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API2": {
      "main": [
        [
          {
            "node": "Pausar IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase1": {
      "main": [
        [
          {
            "node": "Switch6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook EVO": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Memory1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compara Get Memory1": {
      "main": [
        [
          {
            "node": "Mensagem Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Memory1": {
      "main": [
        [
          {
            "node": "Get Memory 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Compara Get Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Memory 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 1": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Memory 2": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Completa": {
      "main": [
        [
          {
            "node": "Agente Rag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Audio Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pause": {
      "main": [
        [
          {
            "node": "Rota Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rota Atendimento": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Historicoo Humano1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reativar IA": {
      "main": [
        [
          {
            "node": "Salvar Historicoo Humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Reativar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Rag",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Rag": {
      "main": [
        [
          {
            "node": "Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Historicoo Humano1": {
      "main": [
        []
      ]
    },
    "Deleta Histórico": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chat_Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Chat_Messages": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Dados Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Dados Cliente": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Chats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Chats": {
      "main": [
        [
          {
            "node": "Deleta Conteúdo Documentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deleta Conteúdo Documentos": {
      "main": [
        [
          {
            "node": "Delete Memory1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encaminhar_humano": {
      "ai_tool": [
        [
          {
            "node": "Atendente",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Rotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch6": {
      "main": [
        [
          {
            "node": "Rotas1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEGARLOJA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas1": {
      "main": [
        [
          {
            "node": "Pausar IA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotas": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "sendText3": {
      "main": [
        [
          {
            "node": "1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEGARLOJA": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "NumeroLojaNoticacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Verificar Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NumeroLojaNoticacao": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d2a4825-8fb1-4e75-a89a-981f03ac46e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c79c3243a811189d8e1ff6c1e4f03090b3528cb190484868180878ec885fe53"
  },
  "id": "gjrFvjPd23xy9vwP",
  "tags": []
}